# Environment vars.
.env
.env_old

# Node modules.
node_modules/

# Logs.
logs/

# Build files.
react_main/build/
build_public/

# Dev files.
cmds.txt
tmp/
testing/

# Data.
uploads/

# Firebase.
*firebase-adminsdk*.json
firebase.json

# Graphics.
*.ai
*.aseprite
*.svg
