.creation-options {
  display: flex;
  flex-flow: row nowrap;
}

.roleset .role {
  cursor: pointer;
}

@media (max-width: 700px) {
  .play .create-setup .top-link {
    font-size: 13px !important;
  }
}
