:root {
  --emote-size: 21px;
}

.emote {
  position: relative;
  z-index: 1;

  display: inline-block;
  line-height: 1;

  width: var(--emote-size);
  height: var(--emote-size);

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
