:root {
  /* derived from mui input height */
  --min-input-height: calc(1.4375rem + 17px);
}

.form {
  flex: 1 0;
  width: 100%;
}

.form .range-wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;

  box-sizing: border-box;

  padding: 0px 8px;
  border: none;

  background-color: var(--scheme-color);
  color: var(--scheme-color-text);
  font-size: 17px;
}

.hidden-upload {
  display: none !important;
}

.form input[type="color"] {
  min-height: var(--min-input-height);
  width: 100%;
  background-color: unset;
  border-width: 1px;
  border-radius: var(--mui-shape-borderRadius);
  border-color: rgba(var(--mui-palette-common-onBackgroundChannel) / 0.23);
  cursor: pointer;
}

.form input[type="color"]:hover,
.form input[type="date"]:hover,
.form input[type="datetime-local"]:hover {
  border-color: rgb(var(--mui-palette-common-onBackgroundChannel));
}

.form input[type="date"],
.form input[type="datetime-local"] {
  padding: 0 14px;
  min-height: var(--min-input-height);
  font-family: "Roboto";
  font-size: 1em;
  width: 100%;
  background-color: unset;
  border-width: 1px;
  border-radius: var(--mui-shape-borderRadius);
  border-color: rgba(var(--mui-palette-common-onBackgroundChannel) / 0.23);
}

.form input[type="range"] {
  -webkit-appearance: none;
  appearance: none;

  height: 12px;
  border-radius: 10px;

  background-color: var(--theme-color);
  outline: none;
}

.form input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 18px;
  height: 18px;
  border-radius: 50px;

  background-color: var(--theme-color-light);
  cursor: pointer;
}

.form input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 18px;
  height: 18px;
  border-radius: 50px;

  background-color: var(--theme-color-light);
  cursor: pointer;
}

.search-select {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;

  background-color: white;
  color: black;

  cursor: pointer;
}

.search-select input {
  border: none;

  background-color: white;
  color: black;
}

.search-select .icon-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  margin: 5px;
}

.search-select .option-list {
  position: absolute;
  top: 0px;

  max-height: 300px;
  z-index: 10;

  overflow-y: auto;
  background-color: white;
  color: black;
  visibility: hidden;
}

.search-select .option-row {
  padding: 5px;

  cursor: pointer;
}

.search-select .no-options {
  padding: 5px;

  cursor: default;
}

.search-select .option-row:hover {
  background-color: var(--scheme-color-sec);
}

.search-select input::placeholder {
  color: black;
}

[type="datetime-local"] {
  box-sizing: border-box;
  height: 100%;

  border: none;
  padding-left: 5px;

  background-color: white;
  color: black;
}
