.game {
  display: flex;
  flex-flow: column;

  padding-top: var(--mui-spacing);

  height: 100%;
  width: 100%;

  background-image: url("/src/images/white-diamond-dark.png");
}

.game a {
  color: var(--theme-color-light);
}

.game .game-name {
  font-size: 40px;
  font-family: var(--primaryFont); /* used to be BNoir */
  color: #f9e19b;
  text-shadow: 2px 3px 3px #c19a4b;
}

.game .game-name span {
  color: #fffffb;
  text-shadow: 2px 3px 3px #f7e4dd;
}

.game .state-name {
  min-width: 100px;

  text-align: center;
  font-weight: 600;

  cursor: pointer;
}

.game .state-timer {
  padding: 4px var(--mui-spacing);

  background-color: var(--scheme-color-sec);
  border-radius: var(--mui-shape-borderRadius);

  font-family: RobotoMono;
}

.game .main {
  flex-grow: 1;

  align-items: stretch;
  justify-content: flex-start;

  padding-left: var(--mui-spacing);
  padding-right: var(--mui-spacing);
}

.game .panel {
  flex-shrink: 0;
  display: flex;
  flex-flow: column;

  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-margin: var(--mui-spacing);

  background-color: var(--scheme-color);
  color: var(--scheme-color-text);
}

.game .left-panel {
  /* Desktop sizing */
  width: 22vw;
}

.game .right-panel {
  /* Desktop sizing */
  width: 22vw;
}

.game .center-panel {
  flex-grow: 1;
  flex-basis: 0px;
  display: flex;
  flex-flow: column;

  width: 0px;

  background-color: transparent;
  box-shadow: none;
}

.game .title-box {
  height: calc(1em + 4 * var(--mui-spacing));
  padding: var(--mui-spacing);
  line-height: normal;
  flex: none;

  border-top-left-radius: var(--mui-shape-borderRadius);
  border-top-right-radius: var(--mui-shape-borderRadius);
  border-bottom: 1px solid var(--mui-palette-divider);
}

.game .meeting-tabs {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  gap: var(--mui-spacing);

  background-color: var(--scheme-color-background);
}

.game .tab {
  padding: 4px var(--mui-spacing);

  background-color: var(--scheme-color-background);
  border-radius: var(--mui-shape-borderRadius);
  cursor: pointer;
}

.game .tab.sel {
  background-color: var(--scheme-color-sec);
  box-shadow: none;
}

.game .message:hover {
  background-color: rgba(12, 12, 12, 0.15);
}

.game .message {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  position: relative;

  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 4px;

  color: var(--scheme-color-text);
}

.game .message .message-inner-rightaligned {
  display: flex;
  flex-flow: row-reverse nowrap;

  gap: 4px;

  text-align: right;
}

.game .message .message-inner-nameplated {
  display: flex;
  flex-flow: column;
}

.game .message .message-inner-onelined {
  display: flex;
  flex-flow: row nowrap;

  flex-grow: 1;

  gap: 4px;
}

.game .message .message-inner-inline {
  display: block;
}

.game .message .nameplate {
  display: inline-flex;
  flex-flow: row-reverse;

  align-items: center;
  justify-content: start;

  gap: 4px;
}

.game .message .nameplate-aligned {
  display: inline-flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: start;

  min-width: 175px;
  max-width: 175px;

  gap: 4px;
  padding-right: 10px;

  border-right: 1px solid #bd4c4c;
}

@media (max-width: 700px) {
  .game .message .nameplate-aligned {
    min-width: 108px !important;
    max-width: 108px !important;
  }
}

.game .message .nameplate-aligned .user-name {
  font-weight: bold;
}

.game .message .nameplate .user-name {
  font-weight: bold;
}

.game .message .nameplate-aligned .name-with-avatar {
  overflow-x: hidden;
}

.game .message:last-child {
  padding-bottom: 10px;
}

.game .message .time {
  opacity: 0.5;
  min-width: 40px;
  font-size: 12px;
}

.game .message .prefix {
  margin-right: 5px;

  font-style: italic;
}

.game .message .content {
  display: inline;

  word-break: break-word;
  white-space: pre-wrap;
}

.game .message .content.dense {
  margin-left: 4px;
  padding-left: 4px;
}

.game .message .content.dark {
  filter: brightness(70%);
}

.game .message .content.darker {
  filter: brightness(60%);
}

.game .message .content-darkest {
  filter: brightness(50%);
}

.game .message .content-bright {
  filter: brightness(130%);
}

.game .message .content.brighter {
  filter: brightness(145%);
}

.game .message .content.brightest {
  filter: brightness(160%);
}

.game .message .content.greentext {
  color: #789922 !important;
}

.game .message .content.party {
  background: linear-gradient(
    to right,
    #ff2c29,
    #fc417f,
    #8e4dff,
    #61b8ff,
    #04cee9,
    #15e920,
    #cfe010,
    #e9930a,
    #ff4108
  ) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -moz-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.game .message .content.dead {
  background: linear-gradient(to right, #bd4c4c, #d3d3d3) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -moz-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
.game .message .content.fiddled {
  background: linear-gradient(
    to right,
    lightgreen,
    #1fb61f,
    lightgreen
  ) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -moz-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
.game .user-name.dead {
  color: #bd4c4c !important;
  opacity: 1;
}

.game .message .content a {
  color: var(--theme-color-text);
}

.game .message .content a:hover {
  opacity: 0.8;
}

.game .message .content .emote {
  vertical-align: middle;
  margin-right: calc(0.5 * var(--mui-spacing));
}

.game .message .content.quote {
  opacity: 0.5;
}

.game .message .content.me {
  border: none;
  font-style: italic;
}

.game .message .content.server {
  position: relative;
  z-index: 1;

  flex-grow: 1;

  padding: 4px 8px;

  color: var(--mui-palette-primary-main);
}

.game .message .content.server::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  background-color: var(--mui-palette-background-paper);
  filter: contrast(90%); /* bring the background colors closer to grey */

  border: 2px solid;
  border-color: var(--scheme-color-background);
  border-radius: 8px;
}

.game .message .content.vote-record {
  opacity: 0.5;
  margin-left: 21px;
}

.game .message .content .time {
  flex-shrink: 0;

  margin-left: 10px;
}

.game .message .content a {
  margin-right: 5px;
}

/* .game .message .content a:last-child {
	margin-right: 0px;
} */

.game .message .quote-info {
  flex-shrink: 0;

  margin: 0px 2px 0px 5px;
}

.game .message .quote-content {
  /*display: flex;*/
  /*flex-flow: row wrap;*/
  align-items: stretch;
  justify-content: flex-start;

  margin-right: 10px;
}

.game .message .pin-button-wrapper {
  align-self: start;

  min-width: 20px;
  margin-left: auto;
  transform: translateX(6px);
}

.game .speech-wrapper {
  flex-grow: 1;
  display: flex;
  flex-flow: column;

  background-color: var(--scheme-color-background);
}

.game .speech-display {
  display: flex;
  flex-flow: column;

  flex-grow: 1;
  flex-basis: 0px;

  background-color: var(--scheme-color);

  overflow-y: scroll;
  overflow-x: hidden;
}

.game .speech-input-area {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;

  margin: 10px;
}

.with-radial-gradient {
  /* border-style: solid; */
  border-width: 1px;
  border-image: radial-gradient(
      rgba(249, 225, 155, 0.5),
      rgba(193, 154, 75, 0.5),
      rgb(249, 225, 155, 0.5)
    )
    1;

  border-radius: var(--mui-shape-borderRadius);
}

.game .speech-input-wrapper {
  flex-grow: 1;
  display: flex;
  flex-flow: row;
}

.game .speech-dropdown {
  background-color: var(--scheme-color-sec);
  color: white;
}

.game .speech-input {
  flex-grow: 1;

  border: none;

  background-color: var(--scheme-color);
  font-size: 16px;
}

.game .speech-input-area i {
  align-self: center;

  width: 20px;
  height: 20px;

  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;

  background-color: var(--scheme-color);
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.game .speech-input-area i:hover {
  opacity: 0.8;
}

.game .speech-input-area i.disabled {
  opacity: 0.5;
}

.game .speech-input-area i.disabled:hover {
  opacity: 0.3;
}

.game .dropdown-control {
  padding: 10px;

  cursor: pointer;
}

.game .dropdown-arrow {
  margin-left: 10px;
}

.game .dropdown-menu {
  position: absolute;
  top: 0px;

  min-width: 100px;
  padding: 5px 0px;

  background-color: var(--scheme-color);
  color: white;
  box-shadow: 0px 0px 1px black;

  visibility: hidden;

  max-height: 70vh;
  overflow: auto;
}

.game .dropdown-menu-option {
  padding: 5px 10px;

  cursor: pointer;
}

.action-select-role-option {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.action-select-role-option .role {
  flex-shrink: 0;
}

.game .side-menu {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-flow: column;
}

.game .side-menu.scrollable {
  flex-grow: 1;
  flex-shrink: 1;
  height: 0px;

  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;

  margin-top: 0px;
}

.game .side-menu.scrollable .side-menu-content {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;

  padding-bottom: 10px;
  overflow-y: auto;
}

.game .side-menu-content {
  overflow: hidden;
}

.game .player-list {
  flex-grow: 1;

  padding: var(--mui-spacing);
}

.game .player-list .player:hover {
  box-shadow: 0px 0px 5px #62a0db;
}

.game .player-list .player .name-with-avatar {
  width: 100%;
}

.game .player-list .player .name-with-avatar-clicked {
  width: 100%;
  background-color: var(--scheme-color-sec);
  box-shadow: 0px 0px 5px #62a0db;
}

.game .player-list .player {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  position: relative;
  margin-bottom: 3px;
  /*SANTA CHANGES:  In December, comment out the below line*/
  padding: 3px;
  /*SANTA CHANGES: In December, uncomment the below lines*/
  /* padding-top: 12px;
  padding-left: 7px; */
  /*SANTA CHANGES*/

  overflow-x: hidden;
  overflow-y: hidden;
}

.game .player-list .player.dead {
  opacity: 0.4;
}

.game .player-list .role {
  flex-shrink: 0;

  margin-right: 5px;
}

.game .player-list .player.speaking .avatar {
  box-shadow: 0px 0px 1px 3px #62a0db;
}

.game .player-list .player .typing-icon {
  position: absolute;
  bottom: -12px;
  left: 45px;
  width: 30px;
}

.game .player-list .player .typing-icon.has-role {
  left: 120px;
}

.game .player-list .section-title {
  margin: 20px 0px 10px 0px;
}

.game .player-list .section-title i {
  margin-right: 5px;
}

.game .player .role-marker i {
  margin: 8px;
}

.game .player .role {
  cursor: pointer;
}

.game .player .role-null {
  cursor: default;
}

.options-table {
  width: 100%;
  margin: 10px 10px;
}

.options-table td {
  padding: 6px 12px;
  text-align: left;
}

.option-name {
  width: 45%;
}

.option-value {
  width: 55%;
}

.game .action {
  display: flex;
  flex-flow: column;
  align-items: center;

  margin-bottom: 10px;
  padding: 0px 5px;

  color: var(--mui-palette-primary-main);
}

.game .action .action-name {
  margin-top: 10px;
  padding-top: 0px;

  font-weight: bold;
}

.game .action .btn {
  margin-top: 10px;
}

.game .action .votes {
  display: flex;
  flex-flow: column;

  max-width: 100%;
}

.game .action .vote {
  display: flex;
  flex-flow: row nowrap;
}

.game .action .vote.multi {
  flex-flow: row wrap;
}

.game .action .vote .voter,
.game .action .vote .selection {
  flex-grow: 0;
  flex-shrink: 1;

  overflow-x: hidden;
  white-space: nowrap;
}

.game .action .vote.multi .selection {
  white-space: normal;
}

.game .action .vote .voter {
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
}

.game .action .vote .selection {
  margin-left: 5px;
}

.game .vote-count {
  color: white;
  min-width: 24px;
  height: 20px;
  line-height: 20px;
  border-radius: 12px;
  text-align: center;
  margin-right: 5px;
}

/* resistance */

.game .rst {
  display: flex;
  flex-flow: column;
  align-items: center;

  margin-bottom: 10px;
  padding: 0px 5px;

  color: #bd4c4c;
}

.game .rst-name {
  margin-top: 10px;
  padding-top: 0px;

  font-weight: bold;
}

.game .rst-score {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;

  margin-bottom: 10px;
  padding: 0px 5px;
}

.game .rst-score-box {
  float: left;
  margin: 10px 10px;
}

.game .rst-score-box-name {
  margin: 10px auto;
  text-align: center;

  font-weight: bold;

  color: #bd4c4c;
}

.game .rst-score-box-value {
  width: 100px;
  height: 100px;

  text-align: center;

  display: table-cell;
  vertical-align: middle;
  font-size: 60px;

  color: black;
}

.game .rst-score-box-rebels {
  background-color: #66afef;
}

.game .rst-score-box-spies {
  background-color: #ff4e4e;
}

.game .rst-mh-all-rows {
  flex-flow: row wrap;
}

.game .rst-mh-row {
  display: flex;
  float: left;
}

.game .rst-mh-status {
  width: 20px;
  height: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  color: black;
}

.game .rst-mh-success {
  background: #66afef;
}

.game .rst-mh-fail {
  background: #ff4e4e;
}

.game .rst-mh-team {
  padding: 0px 5px;

  flex-flow: row wrap;
  margin-left: 5px;
  color: var(--scheme-color-text);
}

.game .last-will-wrapper,
.game .notes-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  padding: 10px;
}

.game .last-will-entry {
  flex-grow: 1;

  height: 82px;
  border: none;
  padding: 5px;

  background-image: url("/src/images/paper.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #262626;
  outline: none;
  resize: none;
}

.game .notes-entry {
  flex-grow: 1;

  height: 82px;
  border: none;
  padding: 5px;

  background-color: var(--scheme-color-sec);
  color: var(--scheme-color-text);
  outline: none;
  resize: none;
}

.game .notes-entry {
  resize: vertical;
}

.game .modal .modal-header {
  font-weight: 700;
}

.game .modal .modal-content {
  display: flex;
  flex-flow: column;
  align-items: flex-start;

  max-height: 60vh;
  overflow-y: auto;
}

.game .modal .modal-footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

.game .modal.settings .settings-save {
  margin-right: 10px;
}

.game .modal.settings .form .field-wrapper:last-child {
  margin: 0px;
}

.game .speech-filters {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;

  padding: 10px 15px;
}

.game .speech-filters input {
  padding: 5px;
  border: none;

  background-color: var(--scheme-color-sec);
}

/*
 * Media Queries
 */

@media (max-width: 900px) {
  .game {
    padding: 0px !important;
    background-color: var(--scheme-color) !important;
    background-image: none;
  }

  .game .title-box {
    border-top-left-radius: unset !important;
    border-top-right-radius: unset !important;
  }

  .game .main {
    padding: 0px !important;
  }

  .game .main::-webkit-scrollbar {
    display: none;
  }

  .game .main::-webkit-scrollbar-track {
    display: none;
  }

  .game .main::-webkit-scrollbar-thumb {
    display: none;
  }

  .game .left-panel {
    width: 100vw !important;
  }

  .game .center-panel {
    width: 100vw !important;
  }

  .game .right-panel {
    width: 100vw !important;
  }

  .game .message .sender {
    padding-left: 0px;
  }
}
