/* acrotopia */

.game .acrotopia {
  display: flex;
  flex-flow: column;
  align-items: center;

  margin-bottom: 10px;
  padding: 0px 5px;

  color: #bd4c4c;
}

.game .acrotopia-name {
  margin-top: 10px;
  padding-top: 0px;

  text-align: center;
  font-weight: bold;
}

.game .acrotopia-history-group {
  margin-bottom: 15px;
  max-width: 200px;
  overflow-wrap: break-word;
}

.game .acrotopia-input {
  color: var(--scheme-color-text);
  size: 8px;
}

.game .acrotopia-tick span {
  margin-right: 4px;
  color: #bd4c4c;
}

.game .acrotopia-score {
  display: flex;
}

.game .acrotopia-score-data {
  display: inline-block;
}

.game .acrotopia-score-score {
  width: 22px;
  height: 22px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  color: black;
  background-color: #66afef;
  margin-right: 5px;
}

.game .acrotopia-voted-check {
  width: 10px;
  margin-right: 10px;
}

.game .acrotopia-score i {
  color: #048c28;
}