.game .jotto {
  flex-flow: row wrap;
}

.game .jotto-guess {
  display: flex;
  float: left;
}
.game .jotto-guess-name {
  padding: 0px 5px;

  flex-flow: row wrap;
  margin-left: 5px;
  color: var(--scheme-color-text);
  font-weight: bold;
}

.game .jotto-guess-value {
  padding: 0px 5px;

  flex-flow: row wrap;
  margin-left: 5px;
  color: var(--scheme-color-text);
}

.game .jotto-guess-score {
  width: 20px;
  height: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  color: black;
  background: #66afef;
}

.game .jotto-cheatsheet {
  margin: 30px auto;
}

.game .jotto-cheatsheet-row {
  display: flex;
}

.game .jotto-cheatsheet-box {
  width: 40px;
  height: 40px;
  margin: 8px;

  text-align: center;
}

/* not sure how to align vertically */
.game .jotto-cheatsheet-text {
  font-size: 24px;
  margin-top: 8px;
}

.game .cheatsheet-box-grey {
  background-color: #dbdbdb;
}

.game .cheatsheet-box-green {
  background-color: #30b332;
}

.game .cheatsheet-box-red {
  background-color: #b31e00;
  color: white;
}

.game .cheatsheet-box-yellow {
  background-color: #d9bd1e;
}

.game .jotto-cheatsheet-clear {
  margin: 20px auto;
  width: 80%;
  font-size: 20px;
}
