/* Secret Dictator */

.game .game-info-section-title {
  margin-left: 5px;
  margin-top: 10px;
  padding-top: 0px;

  font-weight: bold;
}

.game .game-info-section-values-wrapper {
  display: flex;
}

.game .game-info-value {
  margin: 5px;
}

.game .game-info-value span {
  font-weight: bold;
}

.game .election-tracker {
  display: flex;
}

.game .election-tracker .election-tracker-section {
  margin-right: 15px;
}

.game .candidate-tracker-section .game-info-value {
  max-width: 45%;
}

.game .power-board .board-box {
  margin-top: -5px;
}