.host {
  display: flex;
  flex-flow: column nowrap;
}

.host .range-wrapper-slots {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  padding: 8px;
  gap: 8px;
}

.host .setup-row .setup-btn {
  font-size: 1.5rem;
}

.host .setup-row .fav-setup {
  color: #ebd722;
}

.host .setup-row .edit-setup {
  color: #2baf48;
}

.host .setup-row .del-setup {
  color: #e45050;
}
