.host {
  display: flex;
  flex-flow: column nowrap;
}

.host .range-wrapper-slots {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  padding: 8px;
  gap: 8px;
}

.host .page-nav {
  align-self: center;
}

.host .search-bar {
  display: flex;
  flex-flow: row nowrap;

  border: 1px solid var(--theme-color-sec);
}

.host .search-bar input {
  box-sizing: border-box;

  width: 150px;
  padding: 4px;
  border: none;

  background-color: var(--scheme-color);
  color: var(--scheme-color-text);
}

.host .search-bar input::placeholder {
  color: #b9b9b9;
}

.host .search-icon {
  padding: 3px 5px;

  background-color: var(--theme-color-sec);
}

.host .row .setup-btn {
  font-size: 32px;
}

.host .row .fav-setup {
  color: #ebd722;
}

.host .row .edit-setup {
  color: #2baf48;
}

.host .row .del-setup {
  color: #e45050;
}
