:root {
  --theme-color: #3b3b3b;
  --theme-color-sec: #535353;
  --theme-color-light: #68a9dc;
  --theme-color-text: #97bde1;
  --scroll-color: #8b8b8b;
  --gradient-color-light: #76bd5b;
  --gradient-color-dark: #385b2b;

  --primaryFont: RobotoSlab;
  --hoverTransition: 0.2s;
  --game-row-odd: #21232a;
  --game-row: #41434d;
  --game-row-odd-h: #2e313b;
  --game-row-h: #4f525e;

  --gold-heart-color: rgb(237, 179, 52);
}

.light-mode {
  --scheme-color: #fff;
  --scheme-color-sec: #bddadb;
  --scheme-color-background: #e0e0e0;
  --scheme-color-text: black;
  --scheme-color-border: #c7c7c7;
  --scheme-color-code: #e0e0e0;
  --gradient-color: var(--gradient-color-light);
}

.dark-mode {
  --scheme-color: #181a1b;
  --scheme-color-sec: #1f2123;
  --scheme-color-background: #3b3b3b;
  --scheme-color-text: #ffffff;
  --scheme-color-border: #404548;
  --scheme-color-code: #3d3d3d;
  --gradient-color: var(--gradient-color-dark);
}

@media (prefers-color-scheme: light) {
  html:not(.dark-mode) {
    --scheme-color: #ffffff;
    --scheme-color-sec: #bddadb;
    --scheme-color-background: #f3f3f3;
    --scheme-color-text: #000000;
    --scheme-color-border: #c7c7c7;
    --scheme-color-code: #e0e0e0;
    --gradient-color: var(--gradient-color-light);
  }
}
@media (prefers-color-scheme: dark) {
  html:not(.light-mode) {
    --scheme-color: rgb(36, 36, 36);
    --scheme-color-sec: rgb(46, 46, 50);
    --scheme-color-background: #3b3b3b;
    --scheme-color-text: #ffffff;
    --scheme-color-border: #404548;
    --scheme-color-code: #3d3d3d;
    --gradient-color: var(--gradient-color-dark);
  }
}

html,
body {
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;

  overflow-x: initial;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.grecaptcha-badge {
  visibility: hidden;
}

.site-wrapper {
  background-image: url("/src/images/white-diamond-dark.png");
  min-height: 100vh;
}

.header {
  flex-shrink: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.nav-wrapper {
  flex-grow: 1;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.inner-container {
  display: flex;
  flex-flow: column;
}

.inner-content {
  display: flex;
  flex-flow: column;
}

.span-panel {
  display: flex;
  flex-flow: column;

  padding: 5px;
}

.span-panel .title {
  margin-bottom: 15px;

  font-weight: 700;
}

.span-panel.main {
  background-color: var(--scheme-color-background);
}

.box-panel {
  display: flex;
  flex-flow: column;

  padding: var(--mui-spacing);

  background-color: var(--scheme-color);
  color: var(--scheme-color-text);
}

.box-panel .heading {
  margin-bottom: var(--mui-spacing);
}

.box-panel .MuiTypography-h3 {
  margin-bottom: var(--mui-spacing);
}

.box-panel .MuiTypography-h4 {
  margin-bottom: var(--mui-spacing);
}

.box-panel .content {
  display: flex;
  flex-flow: column;
}

.box-panel .heading {
  font-weight: 700;
}

.loading-page {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 300px;

  background-color: var(--theme-color);
  color: white;
}

div.center {
  text-align: center;
}

.paragraph {
  margin-bottom: 7px;
  padding: 3px 5px;
  border-left: 3px solid #62a0db;

  background-color: var(--scheme-color);
  color: var(--scheme-color-text);
}

.paragraph:last-child {
  margin-bottom: 0px;
}

.column {
  display: flex;
  flex-flow: column;
  flex-shrink: 0;
}

.dim {
  margin: 0px 5px;
  opacity: 0.7;
}

.item-list {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
}

.dropdown-control i:first-child {
  margin-right: 5px;
}

.dropdown-control i:last-child {
  margin-left: 5px;
}

.dropdown-menu {
  position: absolute;
  top: 0px;
  left: 0px;

  min-width: 100px;
  padding: 5px 0px;

  background-color: var(--scheme-color);
  color: var(--scheme-color-text);
  box-shadow: 0px 0px 3px black;
  z-index: 5;

  visibility: hidden;
}

.dropdown-menu-option {
  padding: 5px 10px;

  cursor: pointer;
}

.dropdown-menu-option:hover {
  opacity: 0.8;
}

.popover {
  color: var(--scheme-color-text);
}

.popover .role-desc {
  padding-left: 25px;
}

.search-nav {
  display: flex;
  flex-flow: row wrap;
}

.search-wrapper .input-group {
  width: 241px;
}

.form-wrapper {
  margin-top: 10px;
  display: flex;
}

.form-group {
  margin-bottom: 10px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

div:focus,
input:focus {
  outline: none;
}

.btn:focus {
  box-shadow: none;
}

.btn {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  padding: 5px;
  border: none;

  background-color: var(--scheme-color-sec);
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: var(--hoverTransition);
}

.btn:hover {
  opacity: 0.8;
}

.btn[disabled] {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.btn-theme {
  background-color: #ac2222;
  color: white;
}

.btn-theme-sec {
  background-color: var(--scheme-color-sec);
}

.popover hr {
  margin: 5px 0px;
}

.panel-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.panel-grid .box-panel {
  margin: 0px;
}

.super {
  align-self: flex-start;
}

.none-yet {
  margin-top: 10px;
}

::selection,
::-moz-selection {
  background-color: green;
}

.rainbow {
  background: red;
  background: -webkit-linear-gradient(
    left,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
  background: -o-linear-gradient(
    right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
  background: -moz-linear-gradient(
    right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
  background: linear-gradient(
    to right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.no-highlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clickable {
  cursor: pointer;
}

.not-clickable {
  cursor: default !important;
}

.italic {
  font-style: italic;
}

.notif-bound {
  position: relative;
}

.notif-bound .notif-icon {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  position: absolute;
  z-index: 100;
  top: -4px;
  right: -4px;

  color: red;
}

.notif-bound .notif-icon.l-offset {
  top: -10px;
  right: -10px;
}

.notif-bound .notif-count {
  position: absolute;

  color: white;

  font-family: Arial;
  font-size: 12px;
  font-weight: 900;
}

.nav .notifs-wrapper {
  position: relative;
}

.nav .notifs-wrapper .notif-bound:hover {
  opacity: 0.8;
}

.nav .notifs-wrapper i:hover {
  opacity: 1;
}

.nav .notif-list {
  position: absolute;
  top: 30px;
  left: 0px;

  width: 300px;
  max-height: 350px;
  padding: 10px;

  z-index: 10;
  background-color: var(--scheme-color);
  color: var(--scheme-color-text);
  box-shadow: 0px 0px 5px black;
  overflow: visible;
  visibility: hidden;
}

.nav .notif-list .notif {
  display: flex;
  /* flex-flow: row nowrap; */
  align-items: center;
  justify-content: flex-start;

  margin: 0px 0px 10px 0px;
  padding: 0px;
  border: none;

  opacity: 1;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  color: var(--scheme-color-text);
}

.nav .notif-list .notif:hover {
  opacity: 0.7;
}

.nav .notif-list .notif:last-child {
  margin: 0px;
}

.nav .notif-list .notif i {
  margin: 0px 10px 0px 0px;
}

.nav .notif-list .notif .info {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.nav .notif-list .notif .info .time {
  opacity: 0.7;
}

/*
 * Popovers
 */
.popover-body > ul > li > div {
  margin-bottom: 10px;
}

.pop-player {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

@keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-spin {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-spin {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-spin {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes delayedShow {
  to {
    visibility: visible;
  }
}

/*
 * Media Queries
 */

@media (max-width: 700px) {
  .nav-wrapper {
    /* flex-flow: column wrap; */
    justify-content: center;
    /* overflow: auto; */
  }

  .nav {
    margin: 10px 0px 10px 0px;
    flex-flow: column nowrap;
  }

  .panel-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*
* Custom Fonts
*/

@font-face {
  font-family: JuiceITC;
  src: url("/src/fonts/juiceitc.ttf");
}

@font-face {
  font-family: Spooky;
  src: url("/src/fonts/spooky.ttf");
}

@font-face {
  font-family: Autophobia;
  src: url("/src/fonts/autophobia.ttf");
}

@font-face {
  font-family: Nabla;
  src: url("/src/fonts/Nabla-Regular-VariableFont_EDPT,EHLT.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("/src/fonts/Roboto-VariableFont_wdth,wght.ttf");
}

@font-face {
  font-family: RobotoSlab;
  src: url("/src/fonts/RobotoSlab-VariableFont_wght.ttf");
}

@font-face {
  font-family: RobotoMono;
  src: url("/src/fonts/RobotoMono-VariableFont_wght.ttf");
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.glow-slightly {
  animation: glowing-pulse 1s infinite alternate;
}

@keyframes glowing-pulse {
  from {
    box-shadow: 0 0 4px -4px #f4aeae;
  }
  to {
    box-shadow: 0 0 4px 4px #f4aeae;
  }
}

.mui-popover {
  background-color: var(--scheme-color);
}

.mui-popover-title {
  display: flex;
  flex-flow: row wrap;

  font-size: 1.5rem;
  background-color: var(--scheme-color-sec);
  border-bottom: 2px solid var(--mui-palette-divider);
  padding: var(--mui-spacing);
}

@media only screen and (min-width: 700px) {
  /* For Webkit browsers like Chrome, Safari, and new Edge */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #888;
  }

  *::-webkit-scrollbar-thumb {
    background: #555;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #444;
  }

  /*!* Standard CSS scrollbar styling *!*/
  /** {*/
  /*    scrollbar-width: thin;*/
  /*    scrollbar-color: #555 #888;*/
  /*}*/
}
