.play .item-list {
  min-height: 280px;

  background-color: var(--scheme-color);
  color: var(--scheme-color-text);
}

.play .top-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;

  font-family: NoirMedium;
}

.play .top-link {
  width: 120px;
  margin-right: 30px;
  padding: 7px 5px 0px 5px;

  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.play .top-link.active {
  background-color: var(--theme-color-sec);
}

.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--scheme-color);
  height: 40px;
}
.row.odd {
  background-color: var(--scheme-color-sec);
}

.row .btn {
  padding: 7px 2px 2px 2px;
  display: flex;
  align-content: center;

  font-family: NoirMedium;
  font-size: 17px;
}

.refresh-games {
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}

.refresh-games:hover {
  color: #d9d9d9;
}

.refresh-games:active {
  color: #a09e9e;
}

.page-nav {
  margin-top: 10px;
}

.btn-group-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

@media (max-width: 800px) {
  .play .top-bar {
    flex-flow: row wrap;
  }

  .play .top-link {
    width: auto;
    margin-right: 3px !important;
    font-size: 15px !important;
  }
}
