.role-list-container {
  display: flex;
  flex-flow: column;
}

.role-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  min-height: 50px;
  padding: 0px 0px 10px 10px;

  background-color: var(--scheme-color);
}

.role-cell {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  margin: 10px 10px 0px 0px;
  min-width: 150px;
  padding: 6px;

  background-color: var(--scheme-color-sec);
  color: var(--scheme-color-text);
  box-shadow: 0px 0px 1px black;
}

.role-cell .role-banner-wrapper {
  display: flex;
  align-self: flex-start;
  align-items: flex-end;

  width: auto;
  height: 10px;
  z-index: 1;
}

.role-cell .role-banners {
  display: flex;
}

.role-cell .role-banner {
  align-self: flex-end;
  font-size: 12px;
  border-radius: 5px;
  padding: 0px 3px;
}

.role-cell .role-banner.newlyAdded {
  background-color: cadetblue;
}

.role-cell .role-banner.recentlyUpdated {
  background-color: rgb(245, 150, 27);
}

.role-cell .role-banner.featured {
  background-color: rgb(176, 179, 2);
}

.role-list .role-count-wrap {
  margin-right: 3px;

  color: var(--scheme-color-text);
}

.role-cell-content {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  cursor: pointer;
}

.item {
  width: 16px;
  height: 16px;

  background-image: url("/images/items.png");
}

.modifier {
  width: 16px;
  height: 16px;

  background-image: url("/images/modifiers.png");
}

.role-count-wrap {
  display: flex;
  flex-flow: row nowrap;

  color: var(--scheme-color-text);
  height: 32px;
}

.role-group-placeholder {
  background-color: #3a3a3d;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.role .modifier {
  position: absolute;
  top: -5px;
  right: -5px;
}

.role {
  position: relative;

  width: 30px;
  height: 30px;
  border-radius: 3px;
  background-image: url("/images/roles/01-default-tall.png");
}

.role.bg {
  background-color: #484848;
}

.role.small {
  width: 30px;
  height: 30px;
}

.role.large {
  width: 100px;
  height: 100px;
  background-size: contain;
}

.role .modifier.modifier-pos-0 {
  top: -5px;
  right: -7px;
}

.role .modifier.modifier-pos-1 {
  top: -5px;
  right: 6px;
}

.role .modifier.modifier-pos-2 {
  top: -5px;
  right: 17px;
}

.role.small .modifier.modifier-pos-0 {
  top: -5px;
  right: -7px;
}

.role.small .modifier.modifier-pos-1 {
  top: -5px;
  right: 0px;
}

.role.small .modifier.modifier-pos-2 {
  top: -5px;
  right: 5px;
}

.modifiers-select {
  display: flex;
  flex-flow: row;
}

.role-icon-vivid-null {
  background-image: url("/images/roles/02-unknown-vivid.png");

  -webkit-filter: none;
  filter: none;
}

/* f
* Roles w/o icons 
*/

.role-Silhouette {
  background-image: url("/images/roles/01-default-tall.png");
}

/***********
*
* Digits
*
***********/

.digits-wrapper {
  position: absolute;
  top: 18px;
  width: auto;
  z-index: 1;
}

.closed-role-count .digits-wrapper {
  position: relative;
  top: 20px;
  left: 8px;
  height: 12px;
}

.digit {
  float: left;
  width: 9px;
  height: 12px;
}

.digit.digit-0 {
  background-image: url("/images/digits/0.webp");
}

.digit.digit-1 {
  background-image: url("/images/digits/1.webp");
}

.digit.digit-2 {
  background-image: url("/images/digits/2.webp");
}

.digit.digit-3 {
  background-image: url("/images/digits/3.webp");
}

.digit.digit-4 {
  background-image: url("/images/digits/4.webp");
}

.digit.digit-5 {
  background-image: url("/images/digits/5.webp");
}

.digit.digit-6 {
  background-image: url("/images/digits/6.webp");
}

.digit.digit-7 {
  background-image: url("/images/digits/7.webp");
}

.digit.digit-8 {
  background-image: url("/images/digits/8.webp");
}

.digit.digit-9 {
  background-image: url("/images/digits/9.webp");
}

/***********
*
* Mafia - Game
*
***********/


/* Alignment Icons */

.role-icon-vivid-Mafia-Village {
  background-image: url("/images/roles/village-vivid.png");
}

.role-icon-vivid-Mafia-Mafia {
  background-image: url("/images/roles/mafia-vivid.png");
}

.role-icon-vivid-Mafia-Cult {
  background-image: url("/images/roles/cult-vivid.png");
}

.role-icon-vivid-Mafia-Independent {
  background-image: url("/images/roles/independent-vivid.png");
}

/* 
/*------------------Village Roles----------------------*/

.role-icon-vivid-Mafia-Villager {
  background-image: url("/images/roles/villager-vivid.png");
}

.role-icon-vivid-Mafia-Doctor {
  background-image: url("/images/roles/doctor-vivid.png");
}

.role-icon-vivid-Mafia-Nurse {
  background-image: url("/images/roles/nurse-vivid.png");
}

.role-icon-vivid-Mafia-Surgeon {
  background-image: url("/images/roles/surgeon-vivid.png");
}

.role-icon-vivid-Mafia-Bodyguard {
  background-image: url("/images/roles/bodyguard-vivid.png");
}

.role-icon-vivid-Mafia-Cop {
  background-image: url("/images/roles/cop-vivid.png");
}

.role-icon-vivid-Mafia-Gunsmith {
  background-image: url("/images/roles/gunsmith-vivid.png");
}

.role-icon-vivid-Mafia-Oracle {
  background-image: url("/images/roles/oracle-vivid.png");
}

.role-icon-vivid-Mafia-Vigilante {
  background-image: url("/images/roles/vigilante-vivid.png");
}

.role-icon-vivid-Mafia-Detective {
  background-image: url("/images/roles/detective-vivid.png");
}

.role-icon-vivid-Mafia-Drunk {
  background-image: url("/images/roles/drunk-vivid.png");
}

.role-icon-vivid-Mafia-Blacksmith {
  background-image: url("/images/roles/blacksmith-vivid.png");
}

.role-icon-vivid-Mafia-Hunter {
  background-image: url("/images/roles/hunter-vivid.png");
}

.role-icon-vivid-Mafia-Watcher {
  background-image: url("/images/roles/watcher-vivid.png");
}

.role-icon-vivid-Mafia-Tracker {
  background-image: url("/images/roles/tracker-vivid.png");
}

.role-icon-vivid-Mafia-Witness {
  background-image: url("/images/roles/witness-vivid.png");
}

.role-icon-vivid-Mafia-Analyst {
  background-image: url("/images/roles/analyst-vivid.png");
}

.role-icon-vivid-Mafia-Bloodhound {
  background-image: url("/images/roles/bloodhound-vivid.png");
}

.role-icon-vivid-Mafia-Voyeur {
  background-image: url("/images/roles/voyeur-vivid.png");
}

.role-icon-vivid-Mafia-Governor {
  background-image: url("/images/roles/governor-vivid.png");
}

.role-icon-vivid-Mafia-Monkey {
  background-image: url("/images/roles/monkey-vivid.png");
}

.role-icon-vivid-Mafia-Seeker {
  background-image: url("/images/roles/seeker-vivid.png");
}

.role-icon-vivid-Mafia-Sheriff {
  background-image: url("/images/roles/sheriff-vivid.png");
}

.role-icon-vivid-Mafia-Deputy {
  background-image: url("/images/roles/deputy-vivid.png");
}

.role-icon-vivid-Mafia-Medic {
  background-image: url("/images/roles/medic-vivid.png");
}

.role-icon-vivid-Mafia-Granny {
  background-image: url("/images/roles/granny-vivid.png");
}

.role-icon-vivid-Mafia-Templar {
  background-image: url("/images/roles/templar-vivid.png");
}

.role-icon-vivid-Mafia-Matron {
  background-image: url("/images/roles/matron-vivid.png");
}

.role-icon-vivid-Mafia-Miller {
  background-image: url("/images/roles/miller-vivid.png");
}

.role-icon-vivid-Mafia-Wannabe {
  background-image: url("/images/roles/wannabe-vivid.png");
}

.role-icon-vivid-Mafia-Celebrity {
  background-image: url("/images/roles/celebrity-vivid.png");
}

.role-icon-vivid-Mafia-Priest {
  background-image: url("/images/roles/priest-vivid.png");
}

.role-icon-vivid-Mafia-Apothecary {
  background-image: url("/images/roles/apothecary-vivid.png");
}

.role-icon-vivid-Mafia-Scientist {
  background-image: url("/images/roles/clinician-vivid.png");
}

.role-icon-vivid-Mafia-Forensicist {
  background-image: url("/images/roles/forensicist-vivid.png");
}

.role-icon-vivid-Mafia-Televangelist {
  background-image: url("/images/roles/televangelist-vivid.png");
}

.role-icon-vivid-Mafia-Sicario {
  background-image: url("/images/roles/sicario-vivid.png");
}

.role-icon-vivid-Mafia-Farmer {
  background-image: url("/images/roles/farmer-vivid.png");
}

.role-icon-vivid-Mafia-Freemason {
  background-image: url("/images/roles/mason-vivid.png");
}

.role-icon-vivid-Mafia-Jailer {
  background-image: url("/images/roles/jailer-vivid.png");
}

.role-icon-vivid-Mafia-Agent {
  background-image: url("/images/roles/agent-vivid.png");
}

.role-icon-vivid-Mafia-Funsmith {
  background-image: url("/images/roles/funsmith-vivid.png");
}

.role-icon-vivid-Mafia-Soldier {
  background-image: url("/images/roles/soldier-vivid.png");
}

.role-icon-vivid-Mafia-Town-Crier {
  background-image: url("/images/roles/town-crier-vivid.png");
}

.role-icon-vivid-Mafia-Capybara {
  background-image: url("/images/roles/capybara-vivid.png");
}

.role-icon-vivid-Mafia-Vegan {
  background-image: url("/images/roles/neighbor-vivid.png");
}

.role-icon-vivid-Mafia-Comedian {
  background-image: url("/images/roles/comedian-vivid.png");
}

.role-icon-vivid-Mafia-Commuter {
  background-image: url("/images/roles/commuter-vivid.png");
}

.role-icon-vivid-Mafia-Caroler {
  background-image: url("/images/roles/caroler-vivid.png");
}

.role-icon-vivid-Mafia-Dreamer {
  background-image: url("/images/roles/dreamer-vivid.png");
}

.role-icon-vivid-Mafia-Chef {
  background-image: url("/images/roles/chef-vivid.png");
}

.role-icon-vivid-Mafia-Journalist {
  background-image: url("/images/roles/journalist-vivid.png");
}

.role-icon-vivid-Mafia-Cutler {
  background-image: url("/images/roles/cutler-vivid.png");
}

.role-icon-vivid-Mafia-Pharmacist {
  background-image: url("/images/roles/pharmacist-vivid.png");
}

.role-icon-vivid-Mafia-Snoop {
  background-image: url("/images/roles/snoop-vivid.png");
}

.role-icon-vivid-Mafia-Justice {
  background-image: url("/images/roles/justice-vivid.png");
}

.role-icon-vivid-Mafia-Invisible-Man {
  background-image: url("/images/roles/invisible-man-vivid.png");
}

.role-icon-vivid-Mafia-Chauffeur {
  background-image: url("/images/roles/chauffeur-vivid.png");
}

.role-icon-vivid-Mafia-Lobotomist {
  background-image: url("/images/roles/lobotomist-vivid.png");
}

.role-icon-vivid-Mafia-Pedagogue {
  background-image: url("/images/roles/pedagogue-vivid.png");
}

.role-icon-vivid-Mafia-Bartender {
  background-image: url("/images/roles/bartender-vivid.png");
}

.role-icon-vivid-Mafia-Sapling {
  background-image: url("/images/roles/tree-vivid.png");
}

.role-icon-vivid-Mafia-Baker {
  background-image: url("/images/roles/baker-vivid.png");
}

.role-icon-vivid-Mafia-Virgin {
  background-image: url("/images/roles/virgin-vivid.png");
}

.role-icon-vivid-Mafia-Sheep {
  background-image: url("/images/roles/sheep-vivid.png");
}

.role-icon-noir-Mafia-Sheep {
  background-image: url("/images/roles/sheep-noir.png");
}

.role-icon-vivid-Mafia-Schoolmarm {
  background-image: url("/images/roles/schoolmarm-vivid.png");
}

.role-icon-vivid-Mafia-Mime {
  background-image: url("/images/roles/mime-vivid.png");
}

.role-icon-vivid-Mafia-Attorney {
  background-image: url("/images/roles/attorney-vivid.png");
}

.role-icon-vivid-Mafia-Party-Host {
  background-image: url("/images/roles/party-host-vivid.png");
}

.role-icon-vivid-Mafia-Ghost {
  background-image: url("/images/roles/ghost-vivid.png");
}

.role-icon-vivid-Mafia-Lightkeeper {
  background-image: url("/images/roles/lightkeeper-vivid.png");
}

.role-icon-vivid-Mafia-Typist {
  background-image: url("/images/roles/typist-vivid.png");
}

.role-icon-vivid-Mafia-Reanimator {
  background-image: url("/images/roles/reanimator-vivid.png");
}

.role-icon-vivid-Mafia-Resurrectionist {
  background-image: url("/images/roles/resurrectionist-vivid.png");
}

.role-icon-vivid-Mafia-Trickster {
  background-image: url("/images/roles/trickster-vivid.png");
}

.role-icon-vivid-Mafia-Medium {
  background-image: url("/images/roles/medium-vivid.png");
}

.role-icon-vivid-Mafia-Robin-Hood {
  background-image: url("/images/roles/robin-hood-vivid.png");
}

.role-icon-vivid-Mafia-Gemcutter {
  background-image: url("/images/roles/gemcutter-vivid.png");
}

.role-icon-vivid-Mafia-Coroner {
  background-image: url("/images/roles/coroner-vivid.png");
}

.role-icon-vivid-Mafia-Mourner {
  background-image: url("/images/roles/mourner-vivid.png");
}

.role-icon-vivid-Mafia-Santa {
  background-image: url("/images/roles/santa-vivid.png");
}

.role-icon-vivid-Mafia-Mechanic {
  background-image: url("/images/roles/mechanic-vivid.png");
}

.role-icon-vivid-Mafia-King {
  background-image: url("/images/roles/king-vivid.png");
}

.role-icon-vivid-Mafia-Kingmaker {
  background-image: url("/images/roles/kingmaker-vivid.png");
}

.role-icon-vivid-Mafia-Rat {
  background-image: url("/images/roles/rat-vivid.png");
}

.role-icon-vivid-Mafia-Cannoneer {
  background-image: url("/images/roles/cannoneer-vivid.png");
}

.role-icon-vivid-Mafia-Zombie {
  background-image: url("/images/roles/zombie-vivid.png");
}

.role-icon-jockey-Mafia-Zombie {
  background-image: url("/images/roles/zombie-jockey.png");
}

.role-icon-vivid-Mafia-Parasite {
  background-image: url("/images/roles/parasite-vivid.png");
}

.role-icon-vivid-Mafia-Satyr {
  background-image: url("/images/roles/satyr-vivid.png");
}

.role-icon-vivid-Mafia-Hexer {
  background-image: url("/images/roles/hexer-vivid.png");
}

.role-icon-vivid-Mafia-Devotee {
  background-image: url("/images/roles/devotee-vivid.png");
}

.role-icon-vivid-Mafia-Imp {
  background-image: url("/images/roles/imp-vivid.png");
}

.role-icon-vivid-Mafia-Manhunter {
  background-image: url("/images/roles/manhunter-vivid.png");
}

.role-icon-vivid-Mafia-Bondsman {
  background-image: url("/images/roles/bondsman-vivid.png");
}

.role-icon-vivid-Mafia-Snitch {
  background-image: url("/images/roles/snitch-vivid.png");
}

.role-icon-vivid-Mafia-Cannoneer {
  background-image: url("/images/roles/cannoneer-vivid.png");
}

.role-icon-vivid-Mafia-Undertaker {
  background-image: url("/images/roles/undertaker-vivid.png");
}

.role-icon-vivid-Mafia-Diviner {
  background-image: url("/images/roles/diviner-vivid.png");
}

.role-icon-vivid-Mafia-Emperor {
  background-image: url("/images/roles/emperor-vivid.png");
}

.role-icon-vivid-Mafia-Bogeyman {
  background-image: url("/images/roles/bogeyman-vivid.png");
}

.role-icon-vivid-Mafia-Vizier {
  background-image: url("/images/roles/vizier-vivid.png");
}

.role-icon-vivid-Mafia-Sorcerer {
  background-image: url("/images/roles/sorcerer-vivid.png");
}

.role-icon-vivid-Mafia-Ghostbuster {
  background-image: url("/images/roles/ghostbuster-vivid.png");
}

.role-icon-vivid-Mafia-Exorcist {
  background-image: url("/images/roles/exorcist-vivid.png");
}

.role-icon-vivid-Mafia-Lunch-Lady {
  background-image: url("/images/roles/lunch-lady-vivid.png");
}

.role-icon-vivid-Mafia-Knight {
  background-image: url("/images/roles/knight-vivid.png");
}

.role-icon-vivid-Mafia-Plastician {
  background-image: url("/images/roles/plastician-vivid.png");
}

.role-icon-vivid-Mafia-Bounty-Hunter {
  background-image: url("/images/roles/bounty-hunter-vivid.png");
}

.role-icon-vivid-Mafia-Sailor {
  background-image: url("/images/roles/sailor-vivid.png");
}

.role-icon-vivid-Mafia-Zealot {
  background-image: url("/images/roles/zealot-vivid.png");
}

.role-icon-vivid-Mafia-Count {
  background-image: url("/images/roles/count-vivid.png");
}

.role-icon-vivid-Mafia-Harpy {
  background-image: url("/images/roles/harpy-vivid.png");
}

.role-icon-vivid-Mafia-Assassin {
  background-image: url("/images/roles/assassin-vivid.png");
}

.role-icon-vivid-Mafia-Stylist {
  background-image: url("/images/roles/stylist-vivid.png");
}

.role-icon-vivid-Mafia-Suitress {
  background-image: url("/images/roles/suitress-vivid.png");
}

.role-icon-vivid-Mafia-Sleepwalker {
  background-image: url("/images/roles/sleepwalker-vivid.png");
}

.role-icon-vivid-Mafia-Mailman {
  background-image: url("/images/roles/mailman-vivid.png");
}

.role-icon-vivid-Mafia-Visitor {
  background-image: url("/images/roles/visitor-vivid.png");
}

.role-icon-vivid-Mafia-Waitress {
  background-image: url("/images/roles/waitress-vivid.png");
}

.role-icon-vivid-Mafia-Keymaker {
  background-image: url("/images/roles/keymaker-vivid.png");
}

.role-icon-vivid-Mafia-Senator {
  background-image: url("/images/roles/senator-vivid.png");
}

.role-icon-vivid-Mafia-President {
  background-image: url("/images/roles/president-vivid.png");
}

.role-icon-vivid-Mafia-Penguin {
  background-image: url("/images/roles/penguin-vivid.png");
}

.role-icon-vivid-Mafia-Butterfly {
  background-image: url("/images/roles/butterfly-vivid.png");
}

.role-icon-vivid-Mafia-Trapper {
  background-image: url("/images/roles/trapper-vivid.png");
}

.role-icon-vivid-Mafia-Pathologist {
  background-image: url("/images/roles/pathologist-vivid.png");
}

.role-icon-vivid-Mafia-Historian {
  background-image: url("/images/roles/historian-vivid.png");
}

.role-icon-vivid-Mafia-Demolitionist {
  background-image: url("/images/roles/demolitionist-vivid.png");
}

.role-icon-vivid-Mafia-Psychic {
  background-image: url("/images/roles/psychic-vivid.png");
}

.role-icon-vivid-Mafia-Clairvoyant {
  background-image: url("/images/roles/clairvoyant-vivid.png");
}

.role-icon-vivid-Mafia-Shrink {
  background-image: url("/images/roles/shrink-vivid.png");
}

.role-icon-vivid-Mafia-Turncoat {
  background-image: url("/images/roles/turncoat-vivid.png");
}

.role-icon-vivid-Mafia-Barista {
  background-image: url("/images/roles/barista-vivid.png");
}

.role-icon-vivid-Mafia-Chandler {
  background-image: url("/images/roles/chandler-vivid.png");
}

.role-icon-vivid-Mafia-Falconer {
  background-image: url("/images/roles/falconer-vivid.png");
}

.role-icon-vivid-Mafia-Missionary {
  background-image: url("/images/roles/missionary-vivid.png");
}

.role-icon-vivid-Mafia-Coward {
  background-image: url("/images/roles/coward-vivid.png");
}

.role-icon-vivid-Mafia-Avenger {
  background-image: url("/images/roles/avenger-vivid.png");
}

.role-icon-vivid-Mafia-Mistress {
  background-image: url("/images/roles/mistress-vivid.png");
}

.role-icon-vivid-Mafia-Framer {
  background-image: url("/images/roles/framer-vivid.png");
}

.role-icon-vivid-Mafia-Warden {
  background-image: url("/images/roles/warden-vivid.png");
}

.role-icon-vivid-Mafia-Snallygaster {
  background-image: url("/images/roles/snallygaster-vivid.png");
}

.role-icon-vivid-Mafia-Theocrat {
  background-image: url("/images/roles/theocrat-vivid.png");
}

.role-icon-vivid-Mafia-Incubus {
  background-image: url("/images/roles/incubus-vivid.png");
}

.role-icon-vivid-Mafia-Weatherman {
  background-image: url("/images/roles/weatherman-vivid.png");
}

.role-icon-blue-Mafia-Weatherman {
  background-image: url("/images/roles/weatherman-blue.png");
}

.role-icon-vivid-Mafia-Mooncalf {
  background-image: url("/images/roles/mooncalf-vivid.png");
}

.role-icon-vivid-Mafia-Orienteer {
  background-image: url("/images/roles/orienteer-vivid.png");
}

.role-icon-vivid-Mafia-Firebrand {
  background-image: url("/images/roles/firebrand-vivid.png");
}

.role-icon-vivid-Mafia-Pyromaniac {
  background-image: url("/images/roles/pyromaniac-vivid.png");
}

.role-icon-vivid-Mafia-Superhero {
  background-image: url("/images/roles/superhero-vivid.png");
}

.role-icon-vivid-Mafia-Guard {
  background-image: url("/images/roles/guard-vivid.png");
}

.role-icon-vivid-Mafia-Troublemaker {
  background-image: url("/images/roles/troublemaker-vivid.png");
}

.role-icon-vivid-Mafia-Seer {
  background-image: url("/images/roles/seer-vivid.png");
}

.role-icon-vivid-Mafia-Begum {
  background-image: url("/images/roles/begum-vivid.png");
}

.role-icon-vivid-Mafia-Martyr {
  background-image: url("/images/roles/martyr-vivid.png");
}

.role-icon-vivid-Mafia-Secretary {
  background-image: url("/images/roles/secretary-vivid.png");
}

.role-icon-vivid-Mafia-Bleeder {
  background-image: url("/images/roles/bleeder-vivid.png");
}

.role-icon-vivid-Mafia-Loudmouth {
  background-image: url("/images/roles/loudmouth-vivid.png");
}

.role-icon-vivid-Mafia-Empath {
  background-image: url("/images/roles/empath-vivid.png");
}

.role-icon-vivid-Mafia-Tourist {
  background-image: url("/images/roles/tourist-vivid.png");
}

.role-icon-vivid-Mafia-Drama-Queen {
  background-image: url("/images/roles/drama-queen-vivid.png");
}

.role-icon-vivid-Mafia-Gatekeeper {
  background-image: url("/images/roles/gatekeeper-vivid.png");
}

.role-icon-vivid-Mafia-Groundskeeper {
  background-image: url("/images/roles/groundskeeper-vivid.png");
}

.role-icon-vivid-Mafia-Tea-Lady {
  background-image: url("/images/roles/tea-lady-vivid.png");
}

.role-icon-vivid-Mafia-Painter {
  background-image: url("/images/roles/painter-vivid.png");
}

.role-icon-vivid-Mafia-Flapper {
  background-image: url("/images/roles/flapper-vivid.png");
}

.role-icon-vivid-Mafia-Jiangshi {
  background-image: url("/images/roles/jiangshi-vivid.png");
}

.role-icon-vivid-Mafia-Admiral {
  background-image: url("/images/roles/admiral-vivid.png");
}

.role-icon-vivid-Mafia-Magus {
  background-image: url("/images/roles/magus-vivid.png");
}

.role-icon-vivid-Mafia-Jazzman {
  background-image: url("/images/roles/jazzman-vivid.png");
}

.role-icon-vivid-Mafia-Impersonator {
  background-image: url("/images/roles/impersonator-vivid.png");
}

.role-icon-vivid-Mafia-Accountant {
  background-image: url("/images/roles/accountant-vivid.png");
}

.role-icon-vivid-Mafia-Barber {
  background-image: url("/images/roles/barber-vivid.png");
}

.role-icon-vivid-Mafia-Butler {
  background-image: url("/images/roles/butler-vivid.png");
}

.role-icon-vivid-Mafia-Geologist {
  background-image: url("/images/roles/geologist-vivid.png");
}

.role-icon-vivid-Mafia-Laundress {
  background-image: url("/images/roles/laundress-vivid.png");
}

.role-icon-vivid-Mafia-Mayor {
  background-image: url("/images/roles/mayor-vivid.png");
}

.role-icon-vivid-Mafia-Nun {
  background-image: url("/images/roles/nun-vivid.png");
}

.role-icon-vivid-Mafia-Photographer {
  background-image: url("/images/roles/photographer-vivid.png");
}

.role-icon-vivid-Mafia-Saint {
  background-image: url("/images/roles/saint-vivid.png");
}

.role-icon-vivid-Mafia-Slayer {
  background-image: url("/images/roles/slayer-vivid.png");
}

.role-icon-vivid-Mafia-Snake-Charmer {
  background-image: url("/images/roles/snake-charmer-vivid.png");
}

/* 
/*------------------Mafia Roles----------------------*/

.role-icon-vivid-Mafia-Mafioso {
  background-image: url("/images/roles/mafioso-vivid.png");
}

.role-icon-vivid-Mafia-Poisoner {
  background-image: url("/images/roles/poisoner-vivid.png");
}

.role-icon-vivid-Mafia-Stalker {
  background-image: url("/images/roles/stalker-vivid.png");
}

.role-icon-vivid-Mafia-Hooker {
  background-image: url("/images/roles/hooker-vivid.png");
}

.role-icon-old-Mafia-Hooker {
  background-image: url("/images/roles/hooker-old.png");
}

.role-icon-vivid-Mafia-Pimp {
  background-image: url("/images/roles/pimp-vivid.png");
}

.role-icon-vivid-Mafia-Tattooist {
  background-image: url("/images/roles/tattooist-vivid.png");
}

.role-icon-vivid-Mafia-Godfather {
  background-image: url("/images/roles/godfather-vivid.png");
}

.role-icon-vivid-Mafia-Don {
  background-image: url("/images/roles/don-vivid.png");
}

.role-icon-vivid-Mafia-Driver {
  background-image: url("/images/roles/driver-vivid.png");
}

.role-icon-vivid-Mafia-Gondolier {
  background-image: url("/images/roles/gondolier-vivid.png");
}

.role-icon-vivid-Mafia-Ninja {
  background-image: url("/images/roles/ninja-vivid.png");
}

.role-icon-vivid-Mafia-Lawyer {
  background-image: url("/images/roles/lawyer-vivid.png");
}

.role-icon-vivid-Mafia-Disguiser {
  background-image: url("/images/roles/disguiser-vivid.png");
}

.role-icon-vivid-Mafia-Janitor {
  background-image: url("/images/roles/janitor-vivid.png");
}

.role-icon-vivid-Mafia-Spy {
  background-image: url("/images/roles/spy-vivid.png");
}

.role-icon-vivid-Mafia-Gunrunner {
  background-image: url("/images/roles/gunrunner-vivid.png");
}

.role-icon-vivid-Mafia-Gramps {
  background-image: url("/images/roles/gramps-vivid.png");
}

.role-icon-vivid-Mafia-Lookout {
  background-image: url("/images/roles/lookout-vivid.png");
}

.role-icon-vivid-Mafia-Scout {
  background-image: url("/images/roles/scout-vivid.png");
}

.role-icon-vivid-Mafia-Arsonist {
  background-image: url("/images/roles/arsonist-vivid.png");
}

.role-icon-vivid-Mafia-Killer-Bee {
  background-image: url("/images/roles/killer-bee-vivid.png");
}

.role-icon-vivid-Mafia-Queen-Bee {
  background-image: url("/images/roles/queen-bee-vivid.png");
}

.role-icon-vivid-Mafia-Diabolist {
  background-image: url("/images/roles/diabolist-vivid.png");
}

.role-icon-vivid-Mafia-Scrutineer {
  background-image: url("/images/roles/scrutineer-vivid.png");
}

.role-icon-vivid-Mafia-Tailor {
  background-image: url("/images/roles/tailor-vivid.png");
}

.role-icon-vivid-Mafia-Actress {
  background-image: url("/images/roles/actress-vivid.png");
}

.role-icon-vivid-Mafia-Prosecutor {
  background-image: url("/images/roles/prosecutor-vivid.png");
}

.role-icon-vivid-Mafia-Fabricator {
  background-image: url("/images/roles/fabricator-vivid.png");
}

.role-icon-vivid-Mafia-Heartbreaker {
  background-image: url("/images/roles/heartbreaker-vivid.png");
}

.role-icon-noir-Mafia-Heartbreaker {
  background-image: url("/images/roles/heartbreaker-noir.png");
}

.role-icon-vivid-Mafia-Yakuza {
  background-image: url("/images/roles/yakuza-vivid.png");
}

.role-icon-vivid-Mafia-Necromancer {
  background-image: url("/images/roles/necromancer-vivid.png");
}

.role-icon-vivid-Mafia-Debtor {
  background-image: url("/images/roles/debtor-vivid.png");
}

.role-icon-vivid-Mafia-Mummy {
  background-image: url("/images/roles/mummy-vivid.png");
}

.role-icon-vivid-Mafia-Poltergeist {
  background-image: url("/images/roles/poltergeist-vivid.png");
}

.role-icon-vivid-Mafia-Rottweiler {
  background-image: url("/images/roles/rottweiler-vivid.png");
}

.role-icon-vivid-Mafia-Riflemaster {
  background-image: url("/images/roles/riflemaster-vivid.png");
}

.role-icon-vivid-Mafia-Lifeguard {
  background-image: url("/images/roles/lifeguard-vivid.png");
}

.role-icon-vivid-Mafia-Jinx {
  background-image: url("/images/roles/jinx-vivid.png");
}

.role-icon-vivid-Mafia-Clown {
  background-image: url("/images/roles/clown-vivid.png");
}

.role-icon-vivid-Mafia-Graverobber {
  background-image: url("/images/roles/graverobber-vivid.png");
}

.role-icon-vivid-Mafia-Saboteur {
  background-image: url("/images/roles/saboteur-vivid.png");
}

.role-icon-vivid-Mafia-Gorgon {
  background-image: url("/images/roles/gorgon-vivid.png");
}

.role-icon-vivid-Mafia-Illusionist {
  background-image: url("/images/roles/illusionist-vivid.png");
}

.role-icon-vivid-Mafia-Slasher {
  background-image: url("/images/roles/slasher-vivid.png");
}

.role-icon-vivid-Mafia-Trespasser {
  background-image: url("/images/roles/trespasser-vivid.png");
}

.role-icon-vivid-Mafia-Housekeeper {
  background-image: url("/images/roles/housekeeper-vivid.png");
}

.role-icon-vivid-Mafia-Thief {
  background-image: url("/images/roles/thief-vivid.png");
}

.role-icon-vivid-Mafia-Crank {
  background-image: url("/images/roles/crank-vivid.png");
}

.role-icon-vivid-Mafia-Interrogator {
  background-image: url("/images/roles/interrogator-vivid.png");
}

.role-icon-gator-Mafia-Interrogator {
  background-image: url("/images/roles/interrogator-gator.png");
}

.role-icon-vivid-Mafia-Informant {
  background-image: url("/images/roles/informant-vivid.png");
}

.role-icon-vivid-Mafia-Revisionist {
  background-image: url("/images/roles/propagandist-vivid.png");
}

.role-icon-vivid-Mafia-Hitman {
  background-image: url("/images/roles/hitman-vivid.png");
}

.role-icon-vivid-Mafia-Bookie {
  background-image: url("/images/roles/bookie-vivid.png");
}

.role-icon-vivid-Mafia-Ape {
  background-image: url("/images/roles/ape-vivid.png");
}

.role-icon-vivid-Mafia-Apothecary {
  background-image: url("/images/roles/apothecary-vivid.png");
}

.role-icon-vivid-Mafia-Santista {
  background-image: url("/images/roles/santista-vivid.png");
}

.role-icon-vivid-Mafia-Terrorist {
  background-image: url("/images/roles/terrorist-vivid.png");
}

.role-icon-vivid-Mafia-Apprentice {
  background-image: url("/images/roles/apprentice-vivid.png");
}

.role-icon-vivid-Mafia-Ventriloquist {
  background-image: url("/images/roles/ventriloquist-vivid.png");
}

.role-icon-vivid-Mafia-Sniper {
  background-image: url("/images/roles/sniper-vivid.png");
}

.role-icon-vivid-Mafia-Strongman {
  background-image: url("/images/roles/strongman-vivid.png");
}

.role-icon-vivid-Mafia-Blinder {
  background-image: url("/images/roles/blinder-vivid.png");
}

.role-icon-vivid-Mafia-Fiddler {
  background-image: url("/images/roles/fiddler-vivid.png");
}

.role-icon-vivid-Mafia-Silencer {
  background-image: url("/images/roles/silencer-vivid.png");
}

.role-icon-vivid-Mafia-Paralyzer {
  background-image: url("/images/roles/paralyzer-vivid.png");
}

.role-icon-vivid-Mafia-Electrician {
  background-image: url("/images/roles/electrician-vivid.png");
}

.role-icon-vivid-Mafia-Paparazzo {
  background-image: url("/images/roles/paparazzo-vivid.png");
}

.role-icon-vivid-Mafia-Whistleblower {
  background-image: url("/images/roles/whistleblower-vivid.png");
}

.role-icon-vivid-Mafia-Grizzly-Bear {
  background-image: url("/images/roles/grizzly-bear-vivid.png");
}

.role-icon-vivid-Mafia-Polar-Bear {
  background-image: url("/images/roles/polar-bear-vivid.png");
}

.role-icon-vivid-Mafia-Panda-Bear {
  background-image: url("/images/roles/panda-bear-vivid.png");
}

.role-icon-vivid-Mafia-Fumigator {
  background-image: url("/images/roles/fumigator-vivid.png");
}

.role-icon-vivid-Mafia-Egg {
  background-image: url("/images/roles/egg-vivid.png");
}

.role-icon-vivid-Mafia-Grey-Goo {
  background-image: url("/images/roles/grey-goo-vivid.png");
}

.role-icon-vivid-Mafia-Samurai {
  background-image: url("/images/roles/samurai-vivid.png");
}

.role-icon-vivid-Mafia-Snowman {
  background-image: url("/images/roles/snowman-vivid.png");
}

.role-icon-vivid-Mafia-Judge {
  background-image: url("/images/roles/judge-vivid.png");
}

.role-icon-vivid-Mafia-Puppeteer {
  background-image: url("/images/roles/puppeteer-vivid.png");
}

.role-icon-vivid-Mafia-Benandante {
  background-image: url("/images/roles/benandante-vivid.png");
}

.role-icon-vivid-Mafia-Toreador {
  background-image: url("/images/roles/toreador-vivid.png");
}

.role-icon-vivid-Mafia-Rainmaker {
  background-image: url("/images/roles/rainmaker-vivid.png");
}

.role-icon-vivid-Mafia-Quack {
  background-image: url("/images/roles/quack-vivid.png");
}

.role-icon-vivid-Mafia-Homeopath {
  background-image: url("/images/roles/homeopath-vivid.png");
}

.role-icon-vivid-Mafia-Queen {
  background-image: url("/images/roles/queen-vivid.png");
}

.role-icon-vivid-Mafia-Gossiper {
  background-image: url("/images/roles/gossiper-vivid.png");
}

.role-icon-vivid-Mafia-Caporegime {
  background-image: url("/images/roles/caporegime-vivid.png");
}

.role-icon-vivid-Mafia-Hider {
  background-image: url("/images/roles/hider-vivid.png");
}

.role-icon-vivid-Mafia-Busybody {
  background-image: url("/images/roles/busybody-vivid.png");
}

.role-icon-vivid-Mafia-Lurker {
  background-image: url("/images/roles/lurker-vivid.png");
}

.role-icon-vivid-Mafia-Caser {
  background-image: url("/images/roles/caser-vivid.png");
}

.role-icon-vivid-Mafia-Scrambler {
  background-image: url("/images/roles/scrambler-vivid.png");
}

.role-icon-vivid-Mafia-Filibuster {
  background-image: url("/images/roles/filibuster-vivid.png");
}

.role-icon-vivid-Mafia-Enforcer {
  background-image: url("/images/roles/enforcer-vivid.png");
}

.role-icon-vivid-Mafia-Forger {
  background-image: url("/images/roles/forger-vivid.png");
}

.role-icon-vivid-Mafia-Bouncer {
  background-image: url("/images/roles/bouncer-vivid.png");
}

.role-icon-vivid-Mafia-Plumber {
  background-image: url("/images/roles/plumber-vivid.png");
}

.role-icon-vivid-Mafia-Reaper {
  background-image: url("/images/roles/reaper-vivid.png");
}

.role-icon-vivid-Mafia-Mole {
  background-image: url("/images/roles/mole-vivid.png");
}

.role-icon-vivid-Mafia-Cyclist {
  background-image: url("/images/roles/cyclist-vivid.png");
}

.role-icon-vivid-Mafia-Librarian {
  background-image: url("/images/roles/librarian-vivid.png");
}

.role-icon-vivid-Mafia-Dilettante {
  background-image: url("/images/roles/dilettante-vivid.png");
}

.role-icon-vivid-Mafia-Lobotomist {
  background-image: url("/images/roles/lobotomist-vivid.png");
}

.role-icon-vivid-Mafia-Imposter {
  background-image: url("/images/roles/imposter-vivid.png");
}

/*------------------Cult----------------------*/

.role-icon-vivid-Mafia-Cat-Lady {
  background-image: url("/images/roles/cat-lady-vivid.png");
}

.role-icon-vivid-Mafia-Werewolf {
  background-image: url("/images/roles/werewolf-vivid.png");
}

.role-icon-vivid-Mafia-Witch {
  background-image: url("/images/roles/witch-vivid.png");
}

.role-icon-vivid-Mafia-Cult-Leader {
  background-image: url("/images/roles/cult-leader-vivid.png");
}

.role-icon-vivid-Mafia-Doomsayer {
  background-image: url("/images/roles/doomsayer-vivid.png");
}

.role-icon-vivid-Mafia-Cultist {
  background-image: url("/images/roles/cultist-vivid.png");
}

.role-icon-vivid-Mafia-Cthulhu {
  background-image: url("/images/roles/cthulhu-vivid.png");
}

.role-icon-vivid-Mafia-Hellhound {
  background-image: url("/images/roles/hellhound-vivid.png");
}

.role-icon-vivid-Mafia-Shinigami {
  background-image: url("/images/roles/shinigami-vivid.png");
}

.role-icon-vivid-Mafia-Blob {
  background-image: url("/images/roles/blob-vivid.png");
}

.role-icon-vivid-Mafia-Leech {
  background-image: url("/images/roles/leech-vivid.png");
}

.role-icon-vivid-Mafia-Runemaster {
  background-image: url("/images/roles/runemaster-vivid.png");
}

.role-icon-vivid-Mafia-Fungoid {
  background-image: url("/images/roles/fungoid-vivid.png");
}

.role-icon-vivid-Mafia-Mi-Go {
  background-image: url("/images/roles/mi-go-vivid.png");
}

.role-icon-vivid-Mafia-Shoggoth {
  background-image: url("/images/roles/shoggoth-vivid.png");
}

.role-icon-vivid-Mafia-Lich {
  background-image: url("/images/roles/lich-vivid.png");
}

.role-icon-vivid-Mafia-Lamia {
  background-image: url("/images/roles/lamia-vivid.png");
}

.role-icon-vivid-Mafia-Enchantress {
  background-image: url("/images/roles/enchantress-vivid.png");
}

.role-icon-vivid-Mafia-Statistician {
  background-image: url("/images/roles/statistician-vivid.png");
}

.role-icon-vivid-Mafia-Auditor {
  background-image: url("/images/roles/auditor-vivid.png");
}

.role-icon-vivid-Mafia-Broker {
  background-image: url("/images/roles/broker-vivid.png");
}

.role-icon-vivid-Mafia-Philosopher {
  background-image: url("/images/roles/philosopher-vivid.png");
}

.role-icon-vivid-Mafia-Mediator {
  background-image: url("/images/roles/mediator-vivid.png");
}

.role-icon-vivid-Mafia-Banshee {
  background-image: url("/images/roles/banshee-vivid.png");
}

.role-icon-vivid-Mafia-Vampire {
  background-image: url("/images/roles/vampire-vivid.png");
}

.role-icon-vivid-Mafia-Psion {
  background-image: url("/images/roles/mindwarper-vivid.png");
}

.role-icon-noir-Mafia-Psion {
  background-image: url("/images/roles/mindwarper-noir.png");
}

.role-icon-vivid-Mafia-War-Demon {
  background-image: url("/images/roles/war-demon-vivid.png");
}

.role-icon-vivid-Mafia-Selkie {
  background-image: url("/images/roles/selkie-vivid.png");
}

.role-icon-vivid-Mafia-Cannibal {
  background-image: url("/images/roles/cannibal-vivid.png");
}

.role-icon-vivid-Mafia-Baphomet {
  background-image: url("/images/roles/baphomet-vivid.png");
}

.role-icon-vivid-Mafia-Alchemist {
  background-image: url("/images/roles/alchemist-vivid.png");
}

.role-icon-vivid-Mafia-Druid {
  background-image: url("/images/roles/druid-vivid.png");
}

.role-icon-vivid-Mafia-Snow-Queen {
  background-image: url("/images/roles/snow-queen-vivid.png");
}

.role-icon-vivid-Mafia-Inquisitor {
  background-image: url("/images/roles/inquisitor-vivid.png");
}

.role-icon-vivid-Mafia-Invader {
  background-image: url("/images/roles/invader-vivid.png");
}

.role-icon-vivid-Mafia-Witch-Doctor {
  background-image: url("/images/roles/witch-doctor-vivid.png");
}

.role-icon-vivid-Mafia-Gremlin {
  background-image: url("/images/roles/gremlin-vivid.png");
}

.role-icon-vivid-Mafia-Succubus {
  background-image: url("/images/roles/succubus-vivid.png");
}

.role-icon-vivid-Mafia-Shadow {
  background-image: url("/images/roles/shadow-vivid.png");
}

.role-icon-vivid-Mafia-Haruspex {
  background-image: url("/images/roles/ritualist-vivid.png");
}

.role-icon-vivid-Mafia-Changeling {
  background-image: url("/images/roles/changeling-vivid.png");
}

.role-icon-vivid-Mafia-Tormentor {
  background-image: url("/images/roles/tormentor-vivid.png");
}

.role-icon-vivid-Mafia-Puca {
  background-image: url("/images/roles/puca-vivid.png");
}

/* 
* Independent
*/

.role-icon-vivid-Mafia-Joker {
  background-image: url("/images/roles/joker-vivid.png");
}

.role-icon-vivid-Mafia-Fool {
  background-image: url("/images/roles/fool-vivid.png");
}

.role-icon-vivid-Mafia-Executioner {
  background-image: url("/images/roles/executioner-vivid.png");
}

.role-icon-vivid-Mafia-Serial-Killer {
  background-image: url("/images/roles/serial-killer-vivid.png");
}

.role-icon-vivid-Mafia-Amnesiac {
  background-image: url("/images/roles/amnesiac-vivid.png");
}

.role-icon-vivid-Mafia-Survivor {
  background-image: url("/images/roles/survivor-vivid.png");
}

.role-icon-vivid-Mafia-Alien {
  background-image: url("/images/roles/alien-vivid.png");
}

.role-icon-vivid-Mafia-Old-Maid {
  background-image: url("/images/roles/old-maid-vivid.png");
}

.role-icon-vivid-Mafia-Traitor {
  background-image: url("/images/roles/traitor-vivid.png");
}

.role-icon-vivid-Mafia-Mastermind {
  background-image: url("/images/roles/mastermind-vivid.png");
}

.role-icon-vivid-Mafia-Autocrat {
  background-image: url("/images/roles/autocrat-vivid.png");
}

.role-icon-vivid-Mafia-Lover {
  background-image: url("/images/roles/lover-vivid.png");
}

.role-icon-vivid-Mafia-Matchmaker {
  background-image: url("/images/roles/matchmaker-vivid.png");
}

.role-icon-vivid-Mafia-Tofurkey {
  background-image: url("/images/roles/tofurkey-vivid.png");
}

.role-icon-vivid-Mafia-Turkey {
  background-image: url("/images/roles/turkey-vivid.png");
}

.role-icon-vivid-Mafia-Prophet {
  background-image: url("/images/roles/prophet-vivid.png");
}

.role-icon-vivid-Mafia-Fatalist {
  background-image: url("/images/roles/fatalist-vivid.png");
}

.role-icon-vivid-Mafia-Doppelgänger {
  background-image: url("/images/roles/doppelganger-vivid.png");
}

.role-icon-vivid-Mafia-Dentist {
  background-image: url("/images/roles/dentist-vivid.png");
}

.role-icon-vivid-Mafia-Hitchhiker {
  background-image: url("/images/roles/hitchhiker-vivid.png");
}

.role-icon-vivid-Mafia-Prankster {
  background-image: url("/images/roles/prankster-vivid.png");
}

.role-icon-vivid-Mafia-Vengeful-Spirit {
  background-image: url("/images/roles/vengeful-spirit-vivid.png");
}

.role-icon-vivid-Mafia-Clockmaker {
  background-image: url("/images/roles/clockmaker-vivid.png");
}

.role-icon-vivid-Mafia-Pyromaniac {
  background-image: url("/images/roles/pyromaniac-vivid.png");
}

.role-icon-vivid-Mafia-Phantom {
  background-image: url("/images/roles/phantom-vivid.png");
}

.role-icon-vivid-Mafia-Nomad {
  background-image: url("/images/roles/nomad-vivid.png");
}

.role-icon-vivid-Mafia-Anarchist {
  background-image: url("/images/roles/anarchist-vivid.png");
}

.role-icon-vivid-Mafia-Dragoon {
  background-image: url("/images/roles/dragoon-vivid.png");
}

.role-icon-vivid-Mafia-Communist {
  background-image: url("/images/roles/communist-vivid.png");
}

.role-icon-vivid-Mafia-Creepy-Girl {
  background-image: url("/images/roles/creepy-girl-vivid.png");
}

.role-icon-vivid-Mafia-Host {
  background-image: url("/images/roles/host-vivid.png");
}

.role-icon-vivid-Mafia-Siren {
  background-image: url("/images/roles/siren-vivid.png");
}

.role-icon-vivid-Mafia-Gambler {
  background-image: url("/images/roles/gambler-vivid.png");
}

.role-icon-vivid-Mafia-Warlock {
  background-image: url("/images/roles/warlock-vivid.png");
}

.role-icon-vivid-Mafia-Revisionist {
  background-image: url("/images/roles/revisionist-vivid.png");
}

.role-icon-vivid-Mafia-Prince {
  background-image: url("/images/roles/prince-vivid.png");
}

.role-icon-vivid-Mafia-Princess {
  background-image: url("/images/roles/princess-vivid.png");
}

.role-icon-vivid-Mafia-Astrologer {
  background-image: url("/images/roles/astrologer-vivid.png");
}

.role-icon-vivid-Mafia-Gingerbread-Man {
  background-image: url("/images/roles/gingerbread-man-vivid.png");
}

.role-icon-vivid-Mafia-Angel {
  background-image: url("/images/roles/angel-vivid.png");
}

.role-icon-vivid-Mafia-Yandere {
  background-image: url("/images/roles/yandere-vivid.png");
}

.role-icon-vivid-Mafia-Leprechaun {
  background-image: url("/images/roles/leprechaun-vivid.png");
}

.role-icon-vivid-Mafia-Dodo {
  background-image: url("/images/roles/dodo-vivid.png");
}

.role-icon-vivid-Mafia-Dealer {
  background-image: url("/images/roles/dealer-vivid.png");
}

.role-icon-vivid-Mafia-Bawd {
  background-image: url("/images/roles/bawd-vivid.png");
}

.role-icon-vivid-Mafia-Diplomat {
  background-image: url("/images/roles/diplomat-vivid.png");
}

.role-icon-vivid-Mafia-Magistrate {
  background-image: url("/images/roles/magistrate-vivid.png");
}

.role-icon-vivid-Mafia-Associate {
  background-image: url("/images/roles/associate-vivid.png");
}

.role-icon-vivid-Mafia-Braggart {
  background-image: url("/images/roles/braggart-vivid.png");
}

.role-icon-vivid-Mafia-Palladist {
  background-image: url("/images/roles/palladist-vivid.png");
}

.role-icon-vivid-Mafia-Vice-President {
  background-image: url("/images/roles/vice-president-vivid.png");
}

.role-icon-vivid-Mafia-Politician {
  background-image: url("/images/roles/politician-vivid.png");
}

.role-icon-vivid-Mafia-Grouch {
  background-image: url("/images/roles/grouch-vivid.png");
}

.role-icon-vivid-Mafia-Sidekick {
  background-image: url("/images/roles/sidekick-vivid.png");
}

.role-icon-vivid-Mafia-Supervillain {
  background-image: url("/images/roles/supervillain-vivid.png");
}

.role-icon-vivid-Mafia-Monk {
  background-image: url("/images/roles/monk-vivid.png");
}

.role-icon-vivid-Mafia-Rival {
  background-image: url("/images/roles/rival-vivid.png");
}

.role-icon-vivid-Mafia-Picciotto {
  background-image: url("/images/roles/picciotto-vivid.png");
}

.role-icon-vivid-Mafia-Ripper {
  background-image: url("/images/roles/ripper-vivid.png");
}

.role-icon-vivid-Mafia-Usurper {
  background-image: url("/images/roles/usurper-vivid.png");
}

.role-icon-vivid-Mafia-Mutineer {
  background-image: url("/images/roles/mutineer-vivid.png");
}

.role-icon-vivid-Mafia-Nyarlathotep {
  background-image: url("/images/roles/nyarlathotep-vivid.png");
}

/*Events*/
.role-icon-vivid-Mafia-No-Event {
  background-image: url("/images/roles/noevent-vivid.png");
}

.role-icon-vivid-Mafia-Missing-Supplies {
  background-image: url("/images/roles/missingsupplies-vivid.png");
}

.role-icon-vivid-Mafia-Ominous-Warning {
  background-image: url("/images/roles/ominouswarning-vivid.png");
}

.role-icon-vivid-Mafia-Moonshine {
  background-image: url("/images/roles/moonshine-vivid.png");
}

.role-icon-vivid-Mafia-Evolution {
  background-image: url("/images/roles/evolution-vivid.png");
}

.role-icon-vivid-Mafia-Eclipse {
  background-image: url("/images/roles/eclipse-vivid.png");
}

.role-icon-noir-Mafia-Eclipse {
  background-image: url("/images/roles/eclipse-noir.png");
}

.role-icon-vivid-Mafia-Mass-Hysteria {
  background-image: url("/images/roles/mass-hysteria-vivid.png");
}

.role-icon-vivid-Mafia-Black-Hole {
  background-image: url("/images/roles/blackhole-vivid.png");
}

.role-icon-vivid-Mafia-Lightning-Strike {
  background-image: url("/images/roles/lightning-strike-vivid.png");
}

.role-icon-vivid-Mafia-Volcanic-Eruption {
  background-image: url("/images/roles/volcanic-eruption-vivid.png");
}

.role-icon-vivid-Mafia-Time-Loop {
  background-image: url("/images/roles/timeloop-vivid.png");
}

.role-icon-vivid-Mafia-Brain-Blast {
  background-image: url("/images/roles/brainblast-vivid.png");
}

.role-icon-vivid-Mafia-Cave-In {
  background-image: url("/images/roles/cave-in-vivid.png");
}

.role-icon-vivid-Mafia-Famine {
  background-image: url("/images/roles/famine-vivid.png");
}

.role-icon-vivid-Mafia-Feast {
  background-image: url("/images/roles/feast-vivid.png");
}

/*
/*
/*------------------Items----------------------*/
/*
*/

.item-Mafia-Gun {
  background-position: -16px 0;
}

.item-Mafia-Rifle {
  background-position: 0px 0;
}

.item-Mafia-Armor {
  background-position: -32px 0;
}

.item-Mafia-Bomb {
  background-position: -48px 0;
}

.item-Mafia-Knife {
  background-position: -64px 0;
}

.item-Mafia-Timebomb {
  background-position: -80px 0;
}

.item-Mafia-Crystal {
  background-position: -96px 0;
}

.item-Mafia-Whiskey {
  background-position: -112px 0;
}

.item-Mafia-Key {
  background-position: -128px 0;
}

.item-Mafia-Bread {
  background-position: -144px 0;
}

.item-Mafia-Yuzu-Orange {
  background-position: 0px -16px;
}

.item-Mafia-Suit {
  background-position: -16px -16px;
}

.item-Mafia-Match {
  background-position: -32px -16px;
}

.item-Mafia-Candle {
  background-position: -48px -16px;
}

.item-Mafia-Falcon {
  background-position: -64px -16px;
}

.item-Mafia-Tract {
  background-position: -80px -16px;
}

.item-Mafia-Syringe {
  background-position: -96px -16px;
}

.item-Mafia-Envelope {
  background-position: -112px -16px;
}

/*
/*
/*------------------Modifiers----------------------*/
/*
*/

.modifier-Mafia-Explosive {
  background-position: -16px 0;
}

.modifier-Mafia-Armed {
  background-position: -32px 0;
}

.modifier-Mafia-Exposed {
  background-position: -48px 0;
}

.modifier-Mafia-Respected {
  background-position: -64px 0;
}

.modifier-Mafia-Humble {
  background-position: -80px 0;
}

.modifier-Mafia-Lone {
  background-position: -96px 0;
}

.modifier-Mafia-Solitary {
  background-position: -96px 0;
}

.modifier-Mafia-Delayed {
  background-position: -112px 0;
}

.modifier-Mafia-Even {
  background-position: -128px 0;
}

.modifier-Mafia-Odd {
  background-position: -144px 0;
}

.modifier-Mafia-One-Shot {
  background-position: 0 -16px;
}

.modifier-Mafia-Bloodthirsty {
  background-position: -16px -16px;
}

.modifier-Mafia-Loud {
  background-position: -32px -16px;
}

.modifier-Mafia-Scatterbrained {
  background-position: -48px -16px;
}

.modifier-Mafia-Astral {
  background-position: -64px -16px;
}

.modifier-Mafia-Resolute {
  background-position: -80px -16px;
}

.modifier-Mafia-Bulletproof {
  background-position: -96px -16px;
}

.modifier-Mafia-Frustrated {
  background-position: -112px -16px;
}

.modifier-Mafia-Unwavering {
  background-position: -128px -16px;
}

.modifier-Mafia-Linchpin {
  background-position: -144px -16px;
}

.modifier-Mafia-Traitorous {
  background-position: -0px -32px;
}

.modifier-Mafia-Seductive {
  background-position: -16px -32px;
}

.modifier-Mafia-Steeled {
  background-position: -48px -32px;
}

.modifier-Mafia-Loyal {
  background-position: -64px -32px;
}

.modifier-Mafia-Disloyal {
  background-position: -80px -32px;
}

.modifier-Mafia-Vain {
  background-position: -96px -32px;
}

.modifier-Mafia-Preoccupied {
  background-position: -112px -32px;
}

.modifier-Mafia-Weak {
  background-position: -128px -32px;
}

.modifier-Mafia-Oblivious {
  background-position: -144px -32px;
}

.modifier-Mafia-Lazy {
  background-position: -0px -48px;
}

.modifier-Mafia-Crystalline {
  background-position: -16px -48px;
}

.modifier-Mafia-Modest {
  background-position: -32px -48px;
}

.modifier-Mafia-Reactionary {
  background-position: -48px -48px;
}

.modifier-Mafia-Churchgoing {
  background-position: -64px -48px;
}

.modifier-Mafia-Prosaic {
  background-position: -80px -48px;
}

.modifier-Mafia-Hemophilic {
  background-position: -96px -48px;
}

.modifier-Mafia-Shady {
  background-position: -112px -48px;
}

.modifier-Mafia-Demonic {
  background-position: -128px -48px;
}

.modifier-Mafia-Birdbrained {
  background-position: -144px -48px;
}

.modifier-Mafia-Faceless {
  background-position: -0px -64px;
}

.modifier-Mafia-Unassuming {
  background-position: -16px -64px;
}

.modifier-Mafia-Noisy {
  background-position: -32px -64px;
}

.modifier-Mafia-Macabre {
  background-position: -48px -64px;
}

.modifier-Mafia-Luminous {
  background-position: -64px -64px;
}

.modifier-Mafia-Clumsy {
  background-position: -80px -64px;
}

.modifier-Mafia-Diplomatic {
  background-position: -96px -64px;
}

.modifier-Mafia-Macho {
  background-position: -112px -64px;
}

.modifier-Mafia-Clueless {
  background-position: -128px -64px;
}

.modifier-Mafia-Blind {
  background-position: -144px -64px;
}

.modifier-Mafia-Gunslinging {
  background-position: -0px -80px;
}

.modifier-Mafia-Telepathic {
  background-position: -16px -80px;
}

.modifier-Mafia-Simple {
  background-position: -32px -80px;
}

.modifier-Mafia-Complex {
  background-position: -48px -80px;
}

.modifier-Mafia-Morbid {
  background-position: -64px -80px;
}

.modifier-Mafia-Restless {
  background-position: -80px -80px;
}

.modifier-Mafia-Transcendent {
  background-position: -96px -80px;
}

.modifier-Mafia-Kleptomaniac {
  background-position: -112px -80px;
}

.modifier-Mafia-Pious {
  background-position: -128px -80px;
}

.modifier-Mafia-Checking {
  background-position: -144px -80px;
}

.modifier-Mafia-Versatile {
  background-position: -0px -96px;
}

.modifier-Mafia-Commuting {
  background-position: -16px -96px;
}

.modifier-Mafia-Ascetic {
  background-position: -32px -96px;
}

.modifier-Mafia-Regretful {
  background-position: -48px -96px;
}

.modifier-Mafia-Sacrificial {
  background-position: -64px -96px;
}

.modifier-Mafia-Social {
  background-position: -80px -96px;
}

.modifier-Mafia-Neighborly {
  background-position: -96px -96px;
}

.modifier-Mafia-Tinkering {
  background-position: -112px -96px;
}

.modifier-Mafia-Apprehensive {
  background-position: -128px -96px;
}

.modifier-Mafia-Klutzy {
  background-position: -144px -96px;
}

.modifier-Mafia-Masked {
  background-position: -0px -112px;
}

.modifier-Mafia-Camouflaged {
  background-position: -16px -112px;
}

.modifier-Mafia-Omniscient {
  background-position: -32px -112px;
}

.modifier-Mafia-Unkillable {
  background-position: -48px -112px;
}

.modifier-Mafia-Banished {
  background-position: -64px -112px;
}

.modifier-Mafia-Inclusive {
  background-position: -80px -112px;
}

.modifier-Mafia-Exclusive {
  background-position: -96px -112px;
}

.modifier-Mafia-Insightful {
  background-position: -112px -112px;
}

.modifier-Mafia-Verrucose {
  background-position: -128px -112px;
}

.modifier-Mafia-Rotten {
  background-position: -144px -112px;
}

.modifier-Mafia-Infected {
  background-position: -0px -128px;
}

.modifier-Mafia-Narcissistic {
  background-position: -16px -128px;
}

.modifier-Mafia-Blessed {
  background-position: -32px -128px;
}

.modifier-Mafia-Holy {
  background-position: -32px -128px;
}

.modifier-Mafia-Wise {
  background-position: -48px -128px;
}

.modifier-Mafia-Dovish {
  background-position: -64px -128px;
}

.modifier-Mafia-Married {
  background-position: -80px -128px;
}

.modifier-Mafia-Unlucky {
  background-position: -96px -128px;
}

.modifier-Mafia-Bouncy {
  background-position: -112px -128px;
}

.modifier-Mafia-Proactive {
  background-position: -128px -128px;
}

.modifier-Mafia-Braggadocious {
  background-position: -144px -128px;
}

.modifier-Mafia-Braggadocious {
  background-position: -144px -128px;
}

.modifier-Mafia-Dead {
  background-position: -0px -144px;
}

.modifier-Mafia-Unholy {
  background-position: -32px -144px;
}

/* for role prediction */
.modifier-Mafia-Unknown {
  background-position: -0px -0px;
}

/***********
*
* Resistance
*
***********/

/*
* Resistance
*/

.role-Resistance-Rebel {
  background-image: url("/images/roles/res-rebel-vivid.png");
}

.role-Resistance-Merlin {
  background-image: url("/images/roles/res-merlin-vivid.png");
}

.role-Resistance-Percival {
  background-image: url("/images/roles/res-percival-vivid.png");
}

.role-Resistance-Tristan {
  background-image: url("/images/roles/res-tristan-vivid.png");
}

.role-Resistance-Isolde {
  background-image: url("/images/roles/res-isolde-vivid.png");
}

/*
* Spies
*/

.role-Resistance-Spy {
  background-image: url("/images/roles/res-spy-vivid.png");
}

.role-Resistance-Morgana {
  background-image: url("/images/roles/res-morgana-vivid.png");
}

.role-Resistance-Mordred {
  background-image: url("/images/roles/res-mordred-vivid.png");
}

.role-Resistance-Assassin {
  background-image: url("/images/roles/res-assassin-vivid.png");
}

.role-Resistance-Oberon {
  background-image: url("/images/roles/res-oberon-vivid.png");
}

/* for role prediction */
.modifier-Resistance-Unknown {
  background-position: -144px -32px;
}

/***********
*
* Ghost
*
***********/

.role-Battlesnakes-Snake {
  background-image: url("/images/roles/snake-vivid.png");
}

.role-Battlesnakes-Host {
  background-image: url("/images/roles/host-vivid.png");
}

/***********
*
* Ghost
*
***********/

/*
* Town
*/

.role-icon-vivid-Ghost-Villager {
  background-image: url("/images/roles/villager-vivid.png");
}

.role-icon-vivid-Ghost-Fool {
  background-image: url("/images/roles/fool-vivid.png");
}
.role-icon-vivid-Ghost-Saint {
  background-image: url("/images/roles/saint-vivid.png");
}

/*
* Ghost
*/

.role-icon-vivid-Ghost-Ghost {
  background-image: url("/images/roles/ghost-vivid.png");
}
.role-icon-vivid-Ghost-Vengeful-Spirit {
  background-image: url("/images/roles/vengeful-spirit-vivid.png");
}

/*
* Host
*/

.role-icon-vivid-Ghost-Host {
  background-image: url("/images/roles/host-vivid.png");
}

/* for role prediction */
.modifier-Ghost-Unknown {
  background-position: -144px -32px;
}

/***********
*
* Jotto
*
***********/

.role-icon-vivid-Jotto-Player {
  background-image: url("/images/roles/villager-vivid.png");
}

/***********
*
* Acrotopia
*
***********/

.role-icon-vivid-Acrotopia-Player {
  background-image: url("/images/roles/villager-vivid.png");
}

/***********
*
* Secret Dictator
*
***********/

/*
* Liberals
*/

.role-icon-vivid-Secret-Dictator-Liberal {
  background-image: url("/images/roles/villager-vivid.png");
}

/*
* Fascists
*/

.role-Secret-Dictator-Fascist {
  background-image: url("/images/roles/mafioso-vivid.png");
}

.role-icon-vivid-Secret-Dictator-Fascist {
  background-image: url("/images/roles/mafioso-vivid.png");
}

.role-Secret-Dictator-Dictator {
  background-image: url("/images/roles/godfather-vivid.png");
}

.role-icon-vivid-Secret-Dictator-Dictator {
  background-image: url("/images/roles/godfather-vivid.png");
}

/***********
*
* Wacky Words
*
***********/

.role-icon-vivid-Wacky-Words-Player {
  background-image: url("/images/roles/villager-vivid.png");
}

.role-icon-vivid-Wacky-Words-Alien {
  background-image: url("/images/roles/alien-vivid.png");
}

.role-icon-vivid-Wacky-Words-Neighbor {
  background-image: url("/images/roles/neighbor-vivid.png");
}

.role-icon-vivid-Wacky-Words-Governor {
  background-image: url("/images/roles/governor-vivid.png");
}

.role-icon-vivid-Wacky-Words-Gambler {
  background-image: url("/images/roles/gambler-vivid.png");
}

.role-icon-vivid-Wacky-Words-Host {
  background-image: url("/images/roles/host-vivid.png");
}

/***********
*
* Liars Dice
*
***********/

.role-icon-vivid-Liars-Dice-Liar {
  background-image: url("/images/roles/buccaneer-vivid.png");
}
.role-icon-vivid-Liars-Dice-Snoop {
  background-image: url("/images/roles/snoop-vivid.png");
}
.role-icon-vivid-Liars-Dice-Thief {
  background-image: url("/images/roles/thief-vivid.png");
}
.role-icon-vivid-Liars-Dice-Graverobber {
  background-image: url("/images/roles/graverobber-vivid.png");
}
.role-icon-vivid-Liars-Dice-Sniper {
  background-image: url("/images/roles/sniper-vivid.png");
}
.role-icon-vivid-Liars-Dice-Spy {
  background-image: url("/images/roles/spy-vivid.png");
}
.role-icon-vivid-Liars-Dice-Suitress {
  background-image: url("/images/roles/suitress-vivid.png");
}
.role-icon-vivid-Liars-Dice-Soldier {
  background-image: url("/images/roles/soldier-vivid.png");
}
.role-icon-vivid-Liars-Dice-Host {
  background-image: url("/images/roles/host-vivid.png");
}

/***********
*
* Card Games
*
************/
.role-icon-vivid-Card-Games-Player {
  background-image: url("/images/roles/gambler-vivid.png");
}

.role-icon-vivid-Card-Games-Host {
  background-image: url("/images/roles/host-vivid.png");
}

/***********
*
* Pride icons; not for game
*
***********/

.role-icon-vivid-redmafiac {
  background-image: url("/images/holiday/redmafiac.png");
}

.role-icon-vivid-yellowmafiac {
  background-image: url("/images/holiday/yellowmafiac.png");
}

.role-icon-vivid-greenmafiac {
  background-image: url("/images/holiday/greenmafiac.png");
}

.role-icon-vivid-bluemafiac {
  background-image: url("/images/holiday/bluemafiac.png");
}

.role-icon-vivid-purplemafiac {
  background-image: url("/images/holiday/purplemafiac.png");
}

.role-icon-vivid-pinkmafiac {
  background-image: url("/images/holiday/pinkmafiac.png");
}
