.roles-loading {
  height: 200px !important;
}

.role-list-container {
  display: flex;
  flex-flow: column;
}

.role-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  min-height: 50px;
  padding: 0px 0px 10px 10px;

  background-color: var(--scheme-color);
}

.role-cell {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  margin: 10px 10px 0px 0px;
  min-width: 150px;
  padding: 5px;

  background-color: var(--scheme-color-sec);
  color: var(--scheme-color-text);
  box-shadow: 0px 0px 1px black;
}

.role-cell .role-banner-wrapper {
  display: flex;
  align-self: flex-start;
  align-items: flex-end;

  width: auto;
  height: 10px;
  z-index: 1;
}

.role-cell .role-banners {
  display: flex;
}

.role-cell .role-banner {
  align-self: flex-end;
  font-size: 12px;
  border-radius: 5px;
  padding: 0px 3px;
}

.role-cell .role-banner.newlyAdded {
  background-color: cadetblue;
}

.role-cell .role-banner.recentlyUpdated {
  background-color: rgb(245, 150, 27);
}

.role-cell .role-banner.featured {
  background-color: rgb(176, 179, 2);
}

.role-list .role-count-wrap {
  margin-right: 3px;

  color: var(--scheme-color-text);
}

.role-cell-content {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  cursor: pointer;
}

.modifier {
  width: 16px;
  height: 16px;

  background-image: url("/images/modifiers.png");
}

.role-count-wrap {
  display: flex;
  flex-flow: row nowrap;

  color: var(--scheme-color-text);
}

.role-group-placeholder {
  background-color: #c4ad00;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.role .modifier {
  position: absolute;
  top: -5px;
  right: -5px;
}

.role {
  position: relative;

  width: 30px;
  height: 30px;
  border-radius: 3px;
  background-image: url("/images/roles/01-default-tall.webp");

  -webkit-filter: drop-shadow(0px 0px 0.35px gray)
    drop-shadow(0px 0px 0.35px gray) drop-shadow(0px 0px 0.35px gray)
    drop-shadow(0px 0px 0.35px gray);

  filter: drop-shadow(0px 0px 0.35px gray) drop-shadow(0px 0px 0.35px gray)
    drop-shadow(0px 0px 0.35px gray) drop-shadow(0px 0px 0.35px gray);
}

.role.bg {
  background-color: #484848;
}

.role.small {
  width: 30px;
  height: 30px;
}

.role .modifier.modifier-pos-0 {
  top: -5px;
  right: -7px;
}

.role .modifier.modifier-pos-1 {
  top: -5px;
  right: 6px;
}

.role .modifier.modifier-pos-2 {
  top: -5px;
  right: 17px;
}

.role.small .modifier.modifier-pos-0 {
  top: -5px;
  right: -7px;
  transform: scale(0.8);
}

.role.small .modifier.modifier-pos-1 {
  top: -5px;
  right: 0px;
  transform: scale(0.8);
}

.role.small .modifier.modifier-pos-2 {
  top: -5px;
  right: 5px;
  transform: scale(0.8);
}

.modifiers-select {
  display: flex;
  flex-flow: row;
}

.role-null {
  background-image: url("/images/roles/02-unknown-vivid.webp");

  -webkit-filter: none;
  filter: none;
}

/* f
* Roles w/o icons 
*/

.role-Silhouette {
  background-image: url("/images/roles/01-default-tall.webp");
}

/***********
*
* Digits
*
***********/

.digits-wrapper {
  position: absolute;
  top: 18px;
  width: auto;
  z-index: 1;
}

.closed-role-count .digits-wrapper {
  position: relative;
  top: 20px;
  left: 8px;
  height: 12px;
}

.digit {
  float: left;
  width: 9px;
  height: 12px;
}

.digit.digit-0 {
  background-image: url("/images/digits/0.webp");
}

.digit.digit-1 {
  background-image: url("/images/digits/1.webp");
}

.digit.digit-2 {
  background-image: url("/images/digits/2.webp");
}

.digit.digit-3 {
  background-image: url("/images/digits/3.webp");
}

.digit.digit-4 {
  background-image: url("/images/digits/4.webp");
}

.digit.digit-5 {
  background-image: url("/images/digits/5.webp");
}

.digit.digit-6 {
  background-image: url("/images/digits/6.webp");
}

.digit.digit-7 {
  background-image: url("/images/digits/7.webp");
}

.digit.digit-8 {
  background-image: url("/images/digits/8.webp");
}

.digit.digit-9 {
  background-image: url("/images/digits/9.webp");
}

/***********
*
* Mafia
*
***********/

/* 
* Village 
*/

.role-icon-scheme-vivid .role-Mafia-Villager {
  background-image: url("/images/roles/villager-vivid.webp");
}

.role-icon-scheme-vivid .role-Mafia-Doctor {
  background-image: url("/images/roles/doctor-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Nurse {
  background-image: url("/images/roles/nurse-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Surgeon {
  background-image: url("/images/roles/surgeon-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Bodyguard {
  background-image: url("/images/roles/bodyguard-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Cop {
  background-image: url("/images/roles/cop-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Insane-Cop {
  background-image: url("/images/roles/insane-cop-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Naive-Cop {
  background-image: url("/images/roles/naive-cop-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Paranoid-Cop {
  background-image: url("/images/roles/paranoid-cop-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Confused-Cop {
  background-image: url("/images/roles/confused-cop-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Gunsmith {
  background-image: url("/images/roles/gunsmith-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Oracle {
  background-image: url("/images/roles/oracle-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Vigilante {
  background-image: url("/images/roles/vigilante-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Detective {
  background-image: url("/images/roles/detective-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Drunk {
  background-image: url("/images/roles/drunk-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Blacksmith {
  background-image: url("/images/roles/blacksmith-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Hunter {
  background-image: url("/images/roles/hunter-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Watcher {
  background-image: url("/images/roles/watcher-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Tracker {
  background-image: url("/images/roles/tracker-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Witness {
  background-image: url("/images/roles/witness-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Bloodhound {
  background-image: url("/images/roles/bloodhound-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Voyeur {
  background-image: url("/images/roles/voyeur-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Governor {
  background-image: url("/images/roles/governor-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Monkey {
  background-image: url("/images/roles/monkey-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Seeker {
  background-image: url("/images/roles/seeker-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Sheriff {
  background-image: url("/images/roles/sheriff-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Deputy {
  background-image: url("/images/roles/gunslinger-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Medic {
  background-image: url("/images/roles/medic-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Granny {
  background-image: url("/images/roles/granny-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Templar {
  background-image: url("/images/roles/templar-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Miller {
  background-image: url("/images/roles/miller-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Celebrity {
  background-image: url("/images/roles/celebrity-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Priest {
  background-image: url("/images/roles/priest-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Freemason {
  background-image: url("/images/roles/mason-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Jailer {
  background-image: url("/images/roles/jailer-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Agent {
  background-image: url("/images/roles/agent-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Funsmith {
  background-image: url("/images/roles/funsmith-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Soldier {
  background-image: url("/images/roles/soldier-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Town-Crier {
  background-image: url("/images/roles/town-crier-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Capybara {
  background-image: url("/images/roles/capybara-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Neighbor {
  background-image: url("/images/roles/neighbor-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Comedian {
  background-image: url("/images/roles/comedian-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Commuter {
  background-image: url("/images/roles/commuter-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Caroler {
  background-image: url("/images/roles/caroler-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Dreamer {
  background-image: url("/images/roles/dreamer-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Chef {
  background-image: url("/images/roles/chef-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Journalist {
  background-image: url("/images/roles/journalist-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Cutler {
  background-image: url("/images/roles/cutler-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Pharmacist {
  background-image: url("/images/roles/pharmacist-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Snoop {
  background-image: url("/images/roles/snoop-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Justice {
  background-image: url("/images/roles/justice-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Invisible-Man {
  background-image: url("/images/roles/invisible-man-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Chauffeur {
  background-image: url("/images/roles/chauffeur-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Lobotomist {
  background-image: url("/images/roles/lobotomist-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Bartender {
  background-image: url("/images/roles/bartender-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Sapling {
  background-image: url("/images/roles/sapling-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Tree {
  background-image: url("/images/roles/tree-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Baker {
  background-image: url("/images/roles/baker-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Virgin {
  background-image: url("/images/roles/virgin-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Schoolmarm {
  background-image: url("/images/roles/schoolmarm-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Mimic {
  background-image: url("/images/roles/mimic-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Attorney {
  background-image: url("/images/roles/attorney-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Party-Host {
  background-image: url("/images/roles/party-host-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Ghost {
  background-image: url("/images/roles/ghost-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Lightkeeper {
  background-image: url("/images/roles/lightkeeper-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Leader {
  background-image: url("/images/roles/leader-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Resurrectionist {
  background-image: url("/images/roles/resurrectionist-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Trickster {
  background-image: url("/images/roles/trickster-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Medium {
  background-image: url("/images/roles/medium-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Robin-Hood {
  background-image: url("/images/roles/robin-hood-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Gemcutter {
  background-image: url("/images/roles/enchantress-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Inventor {
  background-image: url("/images/roles/forager-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Coroner {
  background-image: url("/images/roles/coroner-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Mourner {
  background-image: url("/images/roles/mourner-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Santa {
  background-image: url("/images/roles/santa-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Tinkerer {
  background-image: url("/images/roles/tinkerer-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Mechanic {
  background-image: url("/images/roles/mechanic-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-King {
  background-image: url("/images/roles/king-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Suitress {
  background-image: url("/images/roles/suitress-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Sleepwalker {
  background-image: url("/images/roles/sleepwalker-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Messenger {
  background-image: url("/images/roles/messenger-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Visitor {
  background-image: url("/images/roles/visitor-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Waitress {
  background-image: url("/images/roles/waitress-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Crafter {
  background-image: url("/images/roles/crafter-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Keymaker {
  background-image: url("/images/roles/keymaker-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Fabulist {
  background-image: url("/images/roles/fabulist-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Stalwart {
  background-image: url("/images/roles/samurai-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Dignitary {
  background-image: url("/images/roles/dignitary-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-President {
  background-image: url("/images/roles/president-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Penguin {
  background-image: url("/images/roles/penguin-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Butterfly {
  background-image: url("/images/roles/butterfly-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Trapper {
  background-image: url("/images/roles/trapper-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Pathologist {
  background-image: url("/images/roles/pathologist-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Scapegoat {
  background-image: url("/images/roles/gallis-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Demolitionist {
  background-image: url("/images/roles/demolitionist-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Psychic {
  background-image: url("/images/roles/psychic-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Shrink {
  background-image: url("/images/roles/shrink-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Turncoat {
  background-image: url("/images/roles/turncoat-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Chandler {
  background-image: url("/images/roles/chandler-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Falconer {
  background-image: url("/images/roles/falconer-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Coward {
  background-image: url("/images/roles/coward-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Avenger {
  background-image: url("/images/roles/avenger-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Bluebeard\'s-Wife {
  background-image: url("/images/roles/bluebeards-wife-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Firebrand {
  background-image: url("/images/roles/firebrand-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Checker {
  background-image: url("/images/roles/checker-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Guard {
  background-image: url("/images/roles/guard-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Troublemaker {
  background-image: url("/images/roles/troublemaker-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Seer {
  background-image: url("/images/roles/seer-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Psyche {
  background-image: url("/images/roles/psyche-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Martyr {
  background-image: url("/images/roles/martyr-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Secretary {
  background-image: url("/images/roles/secretary-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Bleeder {
  background-image: url("/images/roles/bleeder-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Empath {
  background-image: url("/images/roles/empath-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Marathoner {
  background-image: url("/images/roles/marathoner-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Tea-Lady {
  background-image: url("/images/roles/tea-lady-vivid.png");
}

/* 
* Mafia 
*/

.role-icon-scheme-vivid .role-Mafia-Mafioso {
  background-image: url("/images/roles/mafioso-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Poisoner {
  background-image: url("/images/roles/poisoner-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Stalker {
  background-image: url("/images/roles/stalker-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Hooker {
  background-image: url("/images/roles/hooker-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Godfather {
  background-image: url("/images/roles/godfather-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Don {
  background-image: url("/images/roles/don-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Driver {
  background-image: url("/images/roles/driver-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Gondolier {
  background-image: url("/images/roles/gondolier-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Ninja {
  background-image: url("/images/roles/ninja-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Lawyer {
  background-image: url("/images/roles/lawyer-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Disguiser {
  background-image: url("/images/roles/disguiser-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Janitor {
  background-image: url("/images/roles/janitor-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Spy {
  background-image: url("/images/roles/spy-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Gunrunner {
  background-image: url("/images/roles/gunrunner-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Gramps {
  background-image: url("/images/roles/gramps-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Lookout {
  background-image: url("/images/roles/lookout-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Scout {
  background-image: url("/images/roles/scout-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Arsonist {
  background-image: url("/images/roles/arsonist-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Killer-Bee {
  background-image: url("/images/roles/killer-bee-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Queen-Bee {
  background-image: url("/images/roles/queen-bee-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Diabolist {
  background-image: url("/images/roles/diabolist-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Tailor {
  background-image: url("/images/roles/tailor-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Actress {
  background-image: url("/images/roles/actress-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Prosecutor {
  background-image: url("/images/roles/prosecutor-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Fabricator {
  background-image: url("/images/roles/fabricator-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Heartbreaker {
  background-image: url("/images/roles/heartbreaker-vivid.png");
}

.role-icon-scheme-noir .role-Mafia-Heartbreaker {
  background-image: url("/images/roles/heartbreaker-noir.png");
}

.role-icon-scheme-vivid .role-Mafia-Yakuza {
  background-image: url("/images/roles/yakuza-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Necromancer {
  background-image: url("/images/roles/necromancer-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Mummy {
  background-image: url("/images/roles/mummy-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Poltergeist {
  background-image: url("/images/roles/poltergeist-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Informant {
  background-image: url("/images/roles/informant-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Jinx {
  background-image: url("/images/roles/jinx-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Clown {
  background-image: url("/images/roles/clown-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Graverobber {
  background-image: url("/images/roles/graverobber-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Saboteur {
  background-image: url("/images/roles/saboteur-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Gorgon {
  background-image: url("/images/roles/medusa-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Illusionist {
  background-image: url("/images/roles/illusionist-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Slasher {
  background-image: url("/images/roles/slasher-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Courier {
  background-image: url("/images/roles/courier-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Trespasser {
  background-image: url("/images/roles/trespasser-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Housekeeper {
  background-image: url("/images/roles/housekeeper-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Thief {
  background-image: url("/images/roles/thief-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Crank {
  background-image: url("/images/roles/crank-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Interrogator {
  background-image: url("/images/roles/interrogator-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Interceptor {
  background-image: url("/images/roles/interceptor-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Hitman {
  background-image: url("/images/roles/sharpshooter-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Ape {
  background-image: url("/images/roles/ape-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Terrorist {
  background-image: url("/images/roles/terrorist-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Apprentice {
  background-image: url("/images/roles/apprentice-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Ventriloquist {
  background-image: url("/images/roles/ventriloquist-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Sniper {
  background-image: url("/images/roles/sniper-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Strongman {
  background-image: url("/images/roles/strongman-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Blinder {
  background-image: url("/images/roles/blinder-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Fiddler {
  background-image: url("/images/roles/fiddler-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Silencer {
  background-image: url("/images/roles/silencer-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Paralyzer {
  background-image: url("/images/roles/paralyzer-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Paparazzo {
  background-image: url("/images/roles/paparazzo-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Whistleblower {
  background-image: url("/images/roles/whistleblower-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Polar-Bear {
  background-image: url("/images/roles/polar-bear-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Benandante {
  background-image: url("/images/roles/benandante-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Toreador {
  background-image: url("/images/roles/toreador-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Rainmaker {
  background-image: url("/images/roles/rainmaker-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Quack {
  background-image: url("/images/roles/quack-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Eve {
  background-image: url("/images/roles/eve-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Gossiper {
  background-image: url("/images/roles/gossiper-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Caporegime {
  background-image: url("/images/roles/caporegime-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Hider {
  background-image: url("/images/roles/hider-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Busybody {
  background-image: url("/images/roles/busybody-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Lurker {
  background-image: url("/images/roles/lurker-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Caser {
  background-image: url("/images/roles/caser-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Hoaxer {
  background-image: url("/images/roles/hoaxer-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Scrambler {
  background-image: url("/images/roles/scrambler-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Filibuster {
  background-image: url("/images/roles/filibuster-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Enforcer {
  background-image: url("/images/roles/enforcer-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Tagger {
  background-image: url("/images/roles/tagger-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Forger {
  background-image: url("/images/roles/forger-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Bouncer {
  background-image: url("/images/roles/bouncer-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Plumber {
  background-image: url("/images/roles/plumber-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Cyclist {
  background-image: url("/images/roles/cyclist-vivid.png");
}

/* 
* Cult 
*/

.role-icon-scheme-vivid .role-Mafia-Cat-Lady {
  background-image: url("/images/roles/cat-lady-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Werewolf {
  background-image: url("/images/roles/werewolf-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Witch {
  background-image: url("/images/roles/witch-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Cult-Leader {
  background-image: url("/images/roles/cult-leader-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Cultist {
  background-image: url("/images/roles/cultist-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Cthulhu {
  background-image: url("/images/roles/cthulhu-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Hellhound {
  background-image: url("/images/roles/hellhound-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Leech {
  background-image: url("/images/roles/leech-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Accursed-Doll {
  background-image: url("/images/roles/accursed-doll-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Fungoid {
  background-image: url("/images/roles/fungoid-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Mindwarper {
  background-image: url("/images/roles/mindwarper-vivid.png");
}

.role-icon-scheme-noir .role-Mafia-Mindwarper {
  background-image: url("/images/roles/mindwarper-noir.png");
}

.role-icon-scheme-vivid .role-Mafia-Selkie {
  background-image: url("/images/roles/selkie-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Cannibal {
  background-image: url("/images/roles/cannibal-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Baphomet {
  background-image: url("/images/roles/baphomet-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Alchemist {
  background-image: url("/images/roles/alchemist-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Druid {
  background-image: url("/images/roles/druid-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Snow-Queen {
  background-image: url("/images/roles/snow-queen-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Inquisitor {
  background-image: url("/images/roles/inquisitor-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Invader {
  background-image: url("/images/roles/invader-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Witch-Doctor {
  background-image: url("/images/roles/witch-doctor-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Freischütz {
  background-image: url("/images/roles/freischutz-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Succubus {
  background-image: url("/images/roles/succubus-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Shadow {
  background-image: url("/images/roles/succubus-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Reptilian {
  background-image: url("/images/roles/reptilian-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Ghoul {
  background-image: url("/images/roles/ghoul-vivid.png");
}

/* 
* Independent and Hostile (parse these out later)
*/

.role-icon-scheme-vivid .role-Mafia-Joker {
  background-image: url("/images/roles/joker-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Fool {
  background-image: url("/images/roles/fool-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Executioner {
  background-image: url("/images/roles/executioner-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Serial-Killer {
  background-image: url("/images/roles/serial-killer-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Amnesiac {
  background-image: url("/images/roles/amnesiac-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Survivor {
  background-image: url("/images/roles/survivor-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Alien {
  background-image: url("/images/roles/alien-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Old-Maid {
  background-image: url("/images/roles/old-maid-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Traitor {
  background-image: url("/images/roles/traitor-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Mastermind {
  background-image: url("/images/roles/mastermind-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Autocrat {
  background-image: url("/images/roles/autocrat-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Lover {
  background-image: url("/images/roles/lover-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Matchmaker {
  background-image: url("/images/roles/matchmaker-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Tofurkey {
  background-image: url("/images/roles/tofurkey-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Turkey {
  background-image: url("/images/roles/turkey-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Prophet {
  background-image: url("/images/roles/prophet-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Vengeful-Spirit {
  background-image: url("/images/roles/vengeful-spirit-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Clockmaker {
  background-image: url("/images/roles/clockmaker-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Phantom {
  background-image: url("/images/roles/phantom-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Nomad {
  background-image: url("/images/roles/nomad-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Anarchist {
  background-image: url("/images/roles/anarchist-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Creepy-Girl {
  background-image: url("/images/roles/creepy-girl-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Host {
  background-image: url("/images/roles/host-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Siren {
  background-image: url("/images/roles/siren-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Gambler {
  background-image: url("/images/roles/gambler-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Warlock {
  background-image: url("/images/roles/warlock-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Cupid {
  background-image: url("/images/roles/cupid-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Gingerbread-Man {
  background-image: url("/images/roles/gingerbread-man-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Angel {
  background-image: url("/images/roles/angel-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Yandere {
  background-image: url("/images/roles/yandere-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Leprechaun {
  background-image: url("/images/roles/leprechaun-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Dodo {
  background-image: url("/images/roles/dodo-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Admirer {
  background-image: url("/images/roles/admirer-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Occultist {
  background-image: url("/images/roles/occultist-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Palladist {
  background-image: url("/images/roles/palladist-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Vice-President {
  background-image: url("/images/roles/vice-president-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Politician {
  background-image: url("/images/roles/politician-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Grouch {
  background-image: url("/images/roles/grouch-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Sidekick {
  background-image: url("/images/roles/sidekick-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Supervillain {
  background-image: url("/images/roles/supervillain-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Monk {
  background-image: url("/images/roles/monk-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Rival {
  background-image: url("/images/roles/rival-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Picciotto {
  background-image: url("/images/roles/picciotto-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Ripper {
  background-image: url("/images/roles/ripper-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Usurper {
  background-image: url("/images/roles/usurper-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Mutineer {
  background-image: url("/images/roles/mutineer-vivid.png");
}

.role-icon-scheme-vivid .role-Mafia-Nyarlathotep {
  background-image: url("/images/roles/nyarlathotep-vivid.png");
}

/* 
* Modifiers
*/

.modifier-Mafia-Armored {
  background-position: -96px -16px;
}

.modifier-Mafia-Explosive {
  background-position: -16px 0;
}

.modifier-Mafia-Armed {
  background-position: -32px 0;
}

.modifier-Mafia-Exposed {
  background-position: -48px 0;
}

.modifier-Mafia-Respected {
  background-position: -64px 0;
}

.modifier-Mafia-Humble {
  background-position: -80px 0;
}

.modifier-Mafia-Lone {
  background-position: -96px 0;
}

.modifier-Mafia-Solitary {
  background-position: -96px 0;
}

.modifier-Mafia-Delayed {
  background-position: -112px 0;
}

.modifier-Mafia-Even {
  background-position: -128px 0;
}

.modifier-Mafia-Odd {
  background-position: -144px 0;
}

.modifier-Mafia-One-Shot {
  background-position: 0 -16px;
}

.modifier-Mafia-Bloodthirsty {
  background-position: -16px -16px;
}

.modifier-Mafia-Loud {
  background-position: -32px -16px;
}

.modifier-Mafia-Scatterbrained {
  background-position: -48px -16px;
}

.modifier-Mafia-Astral {
  background-position: -64px -16px;
}

.modifier-Mafia-Resolute {
  background-position: -80px -16px;
}

.modifier-Mafia-Frustrated {
  background-position: -112px -16px;
}

.modifier-Mafia-Unwavering {
  background-position: -128px -16px;
}

.modifier-Mafia-Linchpin {
  background-position: -144px -16px;
}

.modifier-Mafia-Traitorous {
  background-position: -0 -32px;
}

.modifier-Mafia-Friendly {
  background-position: -16px -32px;
}

.modifier-Mafia-Loudmouthed {
  background-position: -32px -32px;
}

.modifier-Mafia-Steeled {
  background-position: -48px -32px;
}

.modifier-Mafia-Loyal {
  background-position: -64px -32px;
}

.modifier-Mafia-Disloyal {
  background-position: -80px -32px;
}

.modifier-Mafia-Vain {
  background-position: -96px -32px;
}

.modifier-Mafia-Preoccupied {
  background-position: -112px -32px;
}

.modifier-Mafia-Weak {
  background-position: -128px -32px;
}

.modifier-Mafia-Hemophilic {
  background-position: -16px -16px;
}

.modifier-Mafia-Lazy {
  background-position: -0 -48px;
}

/* for role prediction */
.modifier-Mafia-Unknown {
  background-position: -144px -32px;
}

/***********
*
* Split Decision
*
***********/

/*
* Blue
*/

.role-Split-Decision-Blue-Member {
  background-image: url("/images/roles/villager-vivid.png");
}

.role-Split-Decision-President {
  background-image: url("/images/roles/president-vivid.png");
}

/*
* Red
*/

.role-Split-Decision-Red-Member {
  background-image: url("/images/roles/mafioso-vivid.png");
}

.role-Split-Decision-Bomber {
  background-image: url("/images/roles/terrorist-vivid.png");
}

/*
* Independent
*/

.role-Split-Decision-Gambler {
  background-image: url("/images/roles/gambler-vivid.png");
}

/* for role prediction */
.modifier-Split-Decision-Unknown {
  background-position: -144px -32px;
}

/***********
*
* Resistance
*
***********/

/*
* Resistance
*/

.role-Resistance-Rebel {
  background-image: url("/images/roles/survivor-vivid.png");
}

.role-Resistance-Merlin {
  background-image: url("/images/roles/seer-vivid.png");
}

.role-Resistance-Percival {
  background-image: url("/images/roles/nomad-vivid.png");
}

/*
* Spies
*/

.role-Resistance-Spy {
  background-image: url("/images/roles/spy-vivid.png");
}

.role-Resistance-Morgana {
  background-image: url("/images/roles/actress-vivid.png");
}

.role-Resistance-Oberon {
  background-image: url("/images/roles/druid-vivid.png");
}

/* for role prediction */
.modifier-Resistance-Unknown {
  background-position: -144px -32px;
}

/***********
*
* One Night
*
***********/

/*
* Village
*/

.role-One-Night-Villager {
  background-image: url("/images/roles/villager-vivid.png");
}

.role-One-Night-Hunter {
  background-image: url("/images/roles/hunter-vivid.png");
}

.role-One-Night-Mason {
  background-image: url("/images/roles/mason-vivid.png");
}

.role-One-Night-Seer {
  background-image: url("/images/roles/seer-vivid.png");
}

.role-One-Night-Robber {
  background-image: url("/images/roles/thief-vivid.png");
}

.role-One-Night-Troublemaker {
  background-image: url("/images/roles/troublemaker-vivid.png");
}

.role-One-Night-Insomniac {
  background-image: url("/images/roles/sleepwalker-vivid.png");
}

/*
* Werewolves
*/

.role-One-Night-Werewolf {
  background-image: url("/images/roles/werewolf-vivid.png");
}

.role-One-Night-Minion {
  background-image: url("/images/roles/occultist-vivid.png");
}

/*
* Independent
*/

.role-One-Night-Tanner {
  background-image: url("/images/roles/fool-vivid.png");
}

.role-One-Night-Drunk {
  background-image: url("/images/roles/drunk-vivid.png");
}

.role-One-Night-Doppelganger {
  background-image: url("/images/roles/disguiser-vivid.png");
}

/* for role prediction */
.modifier-One-Night-Unknown {
  background-position: -144px -32px;
}

/***********
*
* Ghost
*
***********/

/*
* Town
*/

.role-Ghost-Villager {
  background-image: url("/images/roles/villager-vivid.webp");
}

.role-icon-scheme-vivid .role-Ghost-Fool {
  background-image: url("/images/roles/fool-vivid.png");
}

/*
* Ghost
*/


.role-icon-scheme-vivid .role-Ghost-Ghost {
  background-image: url("/images/roles/gh-ghost-vivid.png");
}

/*
* Host
*/

.role-icon-scheme-vivid .role-Ghost-Host {
  background-image: url("/images/roles/host-vivid.png");
}

/* for role prediction */
.modifier-Ghost-Unknown {
  background-position: -144px -32px;
}

/***********
*
* Jotto
*
***********/

.role-Jotto-Player {
  background-image: url("/images/roles/villager-vivid.webp");
}

/***********
*
* Acrotopia
*
***********/

.role-Acrotopia-Player {
  background-image: url("/images/roles/villager-vivid.webp");
}

/***********
*
* Secret Dictator
*
***********/

/*
* Liberals
*/

.role-Secret-Dictator-Liberal {
  background-image: url("/images/roles/villager-vivid.webp");
}

/*
* Fascists
*/

.role-Secret-Dictator-Fascist {
  background-image: url("/images/roles/mafioso-vivid.png");
}

.role-icon-scheme-vivid .role-Secret-Dictator-Fascist {
  background-image: url("/images/roles/mafioso-vivid.png");
}

.role-Secret-Dictator-Dictator {
  background-image: url("/images/roles/godfather-vivid.png");
}

.role-icon-scheme-vivid .role-Secret-Dictator-Dictator {
  background-image: url("/images/roles/godfather-vivid.png");
}
