.roles-loading {
  height: 200px !important;
}

.role-list-container {
  display: flex;
  flex-flow: column;
}

.role-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  min-height: 50px;
  padding: 0px 0px 10px 10px;

  background-color: var(--scheme-color);
}

.role-cell {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  margin: 10px 10px 0px 0px;
  min-width: 150px;
  padding: 5px;

  background-color: var(--scheme-color-sec);
  color: var(--scheme-color-text);
  box-shadow: 0px 0px 1px black;
}

.role-list .role-count-wrap {
  margin-right: 3px;

  color: var(--scheme-color-text);
}

.role-cell-content {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  cursor: pointer;
}

.modifier {
  width: 16px;
  height: 16px;

  background-image: url("/images/modifiers.png");
}

.role-count-wrap {
  display: flex;
  flex-flow: row nowrap;

  color: var(--scheme-color-text);
}

.role .modifier {
  position: absolute;
  top: -5px;
  right: -5px;
}

.role {
  position: relative;

  width: 30px;
  height: 30px;
  border-radius: 3px;
  background-image: url("/images/roles/01-default-tall.png");

  -webkit-filter: drop-shadow(0px 0px 0.35px gray)
    drop-shadow(0px 0px 0.35px gray) drop-shadow(0px 0px 0.35px gray)
    drop-shadow(0px 0px 0.35px gray);

  filter: drop-shadow(0px 0px 0.35px gray) drop-shadow(0px 0px 0.35px gray)
    drop-shadow(0px 0px 0.35px gray) drop-shadow(0px 0px 0.35px gray);
}

.role-icon-scheme-retro .role {
  width: 20px;
  height: 20px;
  background-image: url("/images/roles/01-default-retro.png");
}

.role-icon-scheme-tall .role {
  height: 40px;
}

.role.bg {
  background-color: #484848;
}

.role.small {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.role-icon-scheme-retro .role.small {
  width: 20px;
  height: 20px;
  border-radius: 0px;
}

.role-null {
  background-image: url("/images/roles/02-unknown-tall.png");

  -webkit-filter: none;
  filter: none;
}

.role-icon-scheme-retro .role-null {
  width: 20px;
  height: 20px;
  background-image: url("/images/roles/02-unknown-retro.png");
}

/* 
* Roles w/o icons 
*/

.role-Silhouette {
  background-image: url("/images/roles/01-default-tall.png");
}

/***********
*
* Mafia
*
***********/

/* 
* Village 
*/

.role-icon-scheme-tall .role-Mafia-Villager {
  background-image: url("/images/roles/villager-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Villager {
  background-image: url("/images/roles/villager-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Doctor {
  background-image: url("/images/roles/doctor-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Doctor {
  background-image: url("/images/roles/doctor-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Nurse {
  background-image: url("/images/roles/nurse-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Nurse {
  background-image: url("/images/roles/nurse-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Surgeon {
  background-image: url("/images/roles/surgeon-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Surgeon {
  background-image: url("/images/roles/surgeon-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Bodyguard {
  background-image: url("/images/roles/bodyguard-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Bodyguard {
  background-image: url("/images/roles/bodyguard-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Cop {
  background-image: url("/images/roles/cop-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Cop {
  background-image: url("/images/roles/cop-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Insane-Cop {
  background-image: url("/images/roles/insane-cop-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Insane-Cop {
  background-image: url("/images/roles/insane-cop-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Naive-Cop {
  background-image: url("/images/roles/naive-cop-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Naive-Cop {
  background-image: url("/images/roles/naive-cop-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Paranoid-Cop {
  background-image: url("/images/roles/paranoid-cop-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Paranoid-Cop {
  background-image: url("/images/roles/paranoid-cop-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Gunsmith {
  background-image: url("/images/roles/gunsmith-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Gunsmith {
  background-image: url("/images/roles/gunsmith-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Oracle {
  background-image: url("/images/roles/oracle-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Oracle {
  background-image: url("/images/roles/oracle-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Vigilante {
  background-image: url("/images/roles/vigilante-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Vigilante {
  background-image: url("/images/roles/vigilante-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Detective {
  background-image: url("/images/roles/detective-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Detective {
  background-image: url("/images/roles/detective-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Drunk {
  background-image: url("/images/roles/drunk-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Drunk {
  background-image: url("/images/roles/drunk-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Blacksmith {
  background-image: url("/images/roles/blacksmith-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Blacksmith {
  background-image: url("/images/roles/blacksmith-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Hunter {
  background-image: url("/images/roles/hunter-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Hunter {
  background-image: url("/images/roles/hunter-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Watcher {
  background-image: url("/images/roles/watcher-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Watcher {
  background-image: url("/images/roles/watcher-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Tracker {
  background-image: url("/images/roles/tracker-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Tracker {
  background-image: url("/images/roles/tracker-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Governor {
  background-image: url("/images/roles/governor-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Governor {
  background-image: url("/images/roles/governor-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Watcher {
  background-image: url("/images/roles/watcher-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Watcher {
  background-image: url("/images/roles/watcher-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Monkey {
  background-image: url("/images/roles/monkey-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Monkey {
  background-image: url("/images/roles/monkey-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Sheriff {
  background-image: url("/images/roles/sheriff-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Sheriff {
  background-image: url("/images/roles/sheriff-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Deputy {
  background-image: url("/images/roles/deputy-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Deputy {
  background-image: url("/images/roles/deputy-retro.png");
}

.role-icon-scheme-tall .role-Mafia-BP {
  background-image: url("/images/roles/bp-tall.png");
}

.role-icon-scheme-retro .role-Mafia-BP {
  background-image: url("/images/roles/bp-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Bomb {
  background-image: url("/images/roles/bomb-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Bomb {
  background-image: url("/images/roles/bomb-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Village-Idiot {
  background-image: url("/images/roles/village-idiot-tall.png");
}

.role-icon-scheme-tall .role-Mafia-Medic {
  background-image: url("/images/roles/medic-tall.png");
}

.role-icon-scheme-tall .role-Mafia-Granny {
  background-image: url("/images/roles/granny-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Granny {
  background-image: url("/images/roles/granny-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Templar {
  background-image: url("/images/roles/templar-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Templar {
  background-image: url("/images/roles/templar-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Miller {
  background-image: url("/images/roles/miller-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Miller {
  background-image: url("/images/roles/miller-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Celebrity {
  background-image: url("/images/roles/celebrity-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Celebrity {
  background-image: url("/images/roles/celebrity-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Priest {
  background-image: url("/images/roles/priest-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Priest {
  background-image: url("/images/roles/priest-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Mason {
  background-image: url("/images/roles/mason-tall.png");
}

.role-icon-scheme-vivid .role-Mafia-Mason {
  background-image: url("/images/roles/mason-vivid.png");
}

.role-icon-scheme-retro .role-Mafia-Mason {
  background-image: url("/images/roles/mason-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Jailer {
  background-image: url("/images/roles/jailer-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Jailer {
  background-image: url("/images/roles/jailer-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Agent {
  background-image: url("/images/roles/agent-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Agent {
  background-image: url("/images/roles/agent-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Funsmith {
  background-image: url("/images/roles/funsmith-tall.png");
}

.role-icon-scheme-tall .role-Mafia-Bulletproof {
  background-image: url("/images/roles/bulletproof-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Bulletproof {
  background-image: url("/images/roles/bulletproof-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Town-Crier {
  background-image: url("/images/roles/town-crier-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Town-Crier {
  background-image: url("/images/roles/town-crier-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Capybara {
  background-image: url("/images/roles/capybara-tall.png");
}

.role-icon-scheme-tall .role-Mafia-Neighbor {
  background-image: url("/images/roles/neighbor-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Neighbor {
  background-image: url("/images/roles/neighbor-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Comedian {
  background-image: url("/images/roles/comedian-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Commuter {
  background-image: url("/images/roles/commuter-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Commuter {
  background-image: url("/images/roles/commuter-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Caroler {
  background-image: url("/images/roles/caroler-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Caroler {
  background-image: url("/images/roles/caroler-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Dreamer {
  background-image: url("/images/roles/dreamer-tall.png");
}

.role-icon-scheme-vivid .role-Mafia-Dreamer {
  background-image: url("/images/roles/dreamer-vivid.png");
}

.role-icon-scheme-retro .role-Mafia-Dreamer {
  background-image: url("/images/roles/dreamer-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Chef {
  background-image: url("/images/roles/chef-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Chef {
  background-image: url("/images/roles/chef-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Funsmith {
  background-image: url("/images/roles/funsmith-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Gunslinger {
  background-image: url("/images/roles/gunslinger-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Journalist {
  background-image: url("/images/roles/journalist-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Journalist {
  background-image: url("/images/roles/journalist-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Cutler {
  background-image: url("/images/roles/cutler-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Cutler {
  background-image: url("/images/roles/cutler-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Snowman {
  background-image: url("/images/roles/snowman-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Snowman {
  background-image: url("/images/roles/snowman-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Snoop {
  background-image: url("/images/roles/snoop-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Snoop {
  background-image: url("/images/roles/snoop-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Justice {
  background-image: url("/images/roles/justice-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Justice {
  background-image: url("/images/roles/justice-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Invisible-Man {
  background-image: url("/images/roles/invisible-man-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Invisible-Man {
  background-image: url("/images/roles/invisible-man-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Cyclist {
  background-image: url("/images/roles/cyclist-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Cyclist {
  background-image: url("/images/roles/cyclist-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Sapling {
  background-image: url("/images/roles/tree-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Sapling {
  background-image: url("/images/roles/tree-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Tree {
  background-image: url("/images/roles/tree-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Tree {
  background-image: url("/images/roles/tree-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Baker {
  background-image: url("/images/roles/baker-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Baker {
  background-image: url("/images/roles/baker-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Virgin {
  background-image: url("/images/roles/virgin-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Virgin {
  background-image: url("/images/roles/virgin-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Mimic {
  background-image: url("/images/roles/mimic-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Mimic {
  background-image: url("/images/roles/mimic-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Judge {
  background-image: url("/images/roles/judge-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Judge {
  background-image: url("/images/roles/judge-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Party-Host {
  background-image: url("/images/roles/party-host-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Party-Host {
  background-image: url("/images/roles/party-host-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Loudmouth {
  background-image: url("/images/roles/loudmouth-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Loudmouth {
  background-image: url("/images/roles/loudmouth-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Ghost {
  background-image: url("/images/roles/ghost-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Ghost {
  background-image: url("/images/roles/ghost-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Lightkeeper {
  background-image: url("/images/roles/lightkeeper-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Lightkeeper {
  background-image: url("/images/roles/lightkeeper-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Leader {
  background-image: url("/images/roles/leader-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Resurrectionist {
  background-image: url("/images/roles/resurrectionist-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Resurrectionist {
  background-image: url("/images/roles/resurrectionist-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Trickster {
  background-image: url("/images/roles/trickster-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Trickster {
  background-image: url("/images/roles/trickster-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Medium {
  background-image: url("/images/roles/medium-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Medium {
  background-image: url("/images/roles/medium-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Robin-Hood {
  background-image: url("/images/roles/robin-hood-tall.png");
}

.role-icon-scheme-tall .role-Mafia-Enchantress {
  background-image: url("/images/roles/enchantress-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Enchantress {
  background-image: url("/images/roles/enchantress-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Forager {
  background-image: url("/images/roles/forager-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Forager {
  background-image: url("/images/roles/forager-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Mortician {
  background-image: url("/images/roles/mortician-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Mortician {
  background-image: url("/images/roles/mortician-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Mourner {
  background-image: url("/images/roles/mourner-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Mourner {
  background-image: url("/images/roles/mourner-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Santa {
  background-image: url("/images/roles/santa-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Santa {
  background-image: url("/images/roles/santa-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Tinkerer {
  background-image: url("/images/roles/tinkerer-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Tinkerer {
  background-image: url("/images/roles/tinkerer-retro.png");
}

.role-icon-scheme-tall .role-Mafia-King {
  background-image: url("/images/roles/king-tall.png");
}

.role-icon-scheme-retro .role-Mafia-King {
  background-image: url("/images/roles/king-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Bride {
  background-image: url("/images/roles/bride-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Bride {
  background-image: url("/images/roles/bride-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Sleepwalker {
  background-image: url("/images/roles/sleepwalker-tall.png");
}

.role-icon-scheme-tall .role-Mafia-Messenger {
  background-image: url("/images/roles/messenger-tall.png");
}

.role-icon-scheme-tall .role-Mafia-Visitor {
  background-image: url("/images/roles/visitor-tall.png");
}

.role-icon-scheme-tall .role-Mafia-Waitress {
  background-image: url("/images/roles/waitress-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Waitress {
  background-image: url("/images/roles/waitress-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Crafter {
  background-image: url("/images/roles/crafter-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Keymaker {
  background-image: url("/images/roles/keymaker-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Fabulist {
  background-image: url("/images/roles/fabulist-tall.png");
}

.role-icon-scheme-tall .role-Mafia-Samurai {
  background-image: url("/images/roles/samurai-tall.png");
}
.role-icon-scheme-retro .role-Mafia-Samurai {
  background-image: url("/images/roles/samurai-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Sleepwalker {
  background-image: url("/images/roles/sleepwalker-retro.png");
}

.role-icon-scheme-tall .role-Mafia-President {
  background-image: url("/images/roles/president-tall.png");
}

.role-icon-scheme-retro .role-Mafia-President {
  background-image: url("/images/roles/president-retro.png");
}

.role-icon-scheme-vivid .role-Mafia-Penguin {
  background-image: url("/images/roles/penguin-vivid.png");
}

.role-icon-scheme-retro .role-Mafia-Penguin {
  background-image: url("/images/roles/penguin-retro.png");
}

.role-icon-scheme-vivid .role-Mafia-Butterfly {
  background-image: url("/images/roles/butterfly-vivid.png");
}

.role-icon-scheme-retro .role-Mafia-Butterfly {
  background-image: url("/images/roles/butterfly-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Trapper {
  background-image: url("/images/roles/trapper-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Pathologist {
  background-image: url("/images/roles/pathologist-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Gallis {
  background-image: url("/images/roles/gallis-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Demolitionist {
  background-image: url("/images/roles/demolitionist-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Psychic {
  background-image: url("/images/roles/psychic-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Shrink {
  background-image: url("/images/roles/shrink-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Shrink {
  background-image: url("/images/roles/shrink-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Turncoat {
  background-image: url("/images/roles/turncoat-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Chandler {
  background-image: url("/images/roles/chandler-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Ghoul {
  background-image: url("/images/roles/ghoul-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Avenger {
  background-image: url("/images/roles/avenger-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Avenger {
  background-image: url("/images/roles/avenger-retro.png");
}

/* 
* Mafia 
*/

.role-icon-scheme-tall .role-Mafia-Mafioso {
  background-image: url("/images/roles/mafioso-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Mafioso {
  background-image: url("/images/roles/mafioso-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Poisoner {
  background-image: url("/images/roles/poisoner-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Poisoner {
  background-image: url("/images/roles/poisoner-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Stalker {
  background-image: url("/images/roles/stalker-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Stalker {
  background-image: url("/images/roles/stalker-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Hooker {
  background-image: url("/images/roles/hooker-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Hooker {
  background-image: url("/images/roles/hooker-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Godfather {
  background-image: url("/images/roles/godfather-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Godfather {
  background-image: url("/images/roles/godfather-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Driver {
  background-image: url("/images/roles/driver-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Driver {
  background-image: url("/images/roles/driver-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Ninja {
  background-image: url("/images/roles/ninja-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Ninja {
  background-image: url("/images/roles/ninja-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Lawyer {
  background-image: url("/images/roles/lawyer-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Lawyer {
  background-image: url("/images/roles/lawyer-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Disguiser {
  background-image: url("/images/roles/disguiser-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Disguiser {
  background-image: url("/images/roles/disguiser-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Janitor {
  background-image: url("/images/roles/janitor-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Janitor {
  background-image: url("/images/roles/janitor-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Spy {
  background-image: url("/images/roles/spy-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Spy {
  background-image: url("/images/roles/spy-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Associate {
  background-image: url("/images/roles/associate-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Associate {
  background-image: url("/images/roles/associate-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Gramps {
  background-image: url("/images/roles/gramps-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Gramps {
  background-image: url("/images/roles/gramps-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Lookout {
  background-image: url("/images/roles/lookout-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Lookout {
  background-image: url("/images/roles/lookout-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Scout {
  background-image: url("/images/roles/scout-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Scout {
  background-image: url("/images/roles/scout-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Arsonist {
  background-image: url("/images/roles/arsonist-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Arsonist {
  background-image: url("/images/roles/arsonist-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Killer-Bee {
  background-image: url("/images/roles/killer-bee-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Killer-Bee {
  background-image: url("/images/roles/killer-bee-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Diabolist {
  background-image: url("/images/roles/diabolist-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Diabolist {
  background-image: url("/images/roles/diabolist-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Tailor {
  background-image: url("/images/roles/tailor-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Tailor {
  background-image: url("/images/roles/tailor-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Actress {
  background-image: url("/images/roles/actress-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Actress {
  background-image: url("/images/roles/actress-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Prosecutor {
  background-image: url("/images/roles/prosecutor-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Prosecutor {
  background-image: url("/images/roles/prosecutor-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Fabricator {
  background-image: url("/images/roles/fabricator-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Fabricator {
  background-image: url("/images/roles/fabricator-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Heartbreaker {
  background-image: url("/images/roles/heartbreaker-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Heartbreaker {
  background-image: url("/images/roles/heartbreaker-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Yakuza {
  background-image: url("/images/roles/yakuza-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Yakuza {
  background-image: url("/images/roles/yakuza-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Necromancer {
  background-image: url("/images/roles/necromancer-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Necromancer {
  background-image: url("/images/roles/necromancer-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Mummy {
  background-image: url("/images/roles/mummy-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Mummy {
  background-image: url("/images/roles/mummy-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Poltergeist {
  background-image: url("/images/roles/poltergeist-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Poltergeist {
  background-image: url("/images/roles/poltergeist-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Informant {
  background-image: url("/images/roles/informant-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Informant {
  background-image: url("/images/roles/informant-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Jinx {
  background-image: url("/images/roles/jinx-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Jinx {
  background-image: url("/images/roles/jinx-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Clown {
  background-image: url("/images/roles/clown-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Clown {
  background-image: url("/images/roles/clown-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Graverobber {
  background-image: url("/images/roles/graverobber-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Graverobber {
  background-image: url("/images/roles/graverobber-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Medusa {
  background-image: url("/images/roles/medusa-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Medusa {
  background-image: url("/images/roles/medusa-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Illusionist {
  background-image: url("/images/roles/illusionist-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Illusionist {
  background-image: url("/images/roles/illusionist-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Cat-Lady {
  background-image: url("/images/roles/cat-lady-tall.png");
}
.role-icon-scheme-retro .role-Mafia-Cat-Lady {
  background-image: url("/images/roles/cat-lady-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Slasher {
  background-image: url("/images/roles/slasher-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Slasher {
  background-image: url("/images/roles/slasher-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Courier {
  background-image: url("/images/roles/courier-tall.png");
}

.role-icon-scheme-tall .role-Mafia-Trespasser {
  background-image: url("/images/roles/trespasser-tall.png");
}

.role-icon-scheme-tall .role-Mafia-Housekeeper {
  background-image: url("/images/roles/housekeeper-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Housekeeper {
  background-image: url("/images/roles/housekeeper-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Thief {
  background-image: url("/images/roles/thief-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Thief {
  background-image: url("/images/roles/thief-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Crank {
  background-image: url("/images/roles/crank-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Interrogator {
  background-image: url("/images/roles/interrogator-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Interrogator {
  background-image: url("/images/roles/interrogator-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Interceptor {
  background-image: url("/images/roles/interceptor-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Hitman {
  background-image: url("/images/roles/hitman-tall.png");
}
.role-icon-scheme-retro .role-Mafia-Hitman {
  background-image: url("/images/roles/hitman-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Framer {
  background-image: url("/images/roles/framer-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Framer {
  background-image: url("/images/roles/framer-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Apprentice {
  background-image: url("/images/roles/apprentice-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Butler {
  background-image: url("/images/roles/butler-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Ventriloquist {
  background-image: url("/images/roles/ventriloquist-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Ventriloquist {
  background-image: url("/images/roles/ventriloquist-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Fiddler {
  background-image: url("/images/roles/fiddler-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Silencer {
  background-image: url("/images/roles/silencer-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Silencer {
  background-image: url("/images/roles/silencer-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Inceptor {
  background-image: url("/images/roles/inceptor-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Inceptor {
  background-image: url("/images/roles/inceptor-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Paparazzi {
  background-image: url("/images/roles/paparazzi-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Paparazzi {
  background-image: url("/images/roles/paparazzi-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Whistleblower {
  background-image: url("/images/roles/whistleblower-retro.png");
}

.role-icon-scheme-vivid .role-Mafia-Polar-Bear {
  background-image: url("/images/roles/polar-bear-vivid.png");
}

.role-icon-scheme-retro .role-Mafia-Polar-Bear {
  background-image: url("/images/roles/polar-bear-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Toreador {
  background-image: url("/images/roles/toreador-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Rainmaker {
  background-image: url("/images/roles/rainmaker-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Sharpshooter {
  background-image: url("/images/roles/sharpshooter-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Quack {
  background-image: url("/images/roles/quack-retro.png");
}
/* 
* Cult 
*/

.role-icon-scheme-tall .role-Mafia-Lycan {
  background-image: url("/images/roles/lycan-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Lycan {
  background-image: url("/images/roles/lycan-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Witch {
  background-image: url("/images/roles/witch-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Witch {
  background-image: url("/images/roles/witch-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Cultist {
  background-image: url("/images/roles/cultist-tall.png");
}

.role-icon-scheme-vivid .role-Mafia-Cultist {
  background-image: url("/images/roles/cultist-vivid.png");
}

.role-icon-scheme-retro .role-Mafia-Cultist {
  background-image: url("/images/roles/cultist-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Cthulhu {
  background-image: url("/images/roles/cthulhu-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Cthulhu {
  background-image: url("/images/roles/cthulhu-retro.png");
}

.role-icon-scheme-tall .role-Mafia-The-Thing {
  background-image: url("/images/roles/the-thing-tall.png");
}

.role-icon-scheme-tall .role-Mafia-Leech {
  background-image: url("/images/roles/leech-tall.png");
}

.role-icon-scheme-tall .role-Mafia-Accursed-Doll {
  background-image: url("/images/roles/accursed-doll-tall.png");
}

.role-icon-scheme-vivid .role-Mafia-Mindwarper {
  background-image: url("/images/roles/mindwarper-vivid.png");
}

/* 
* Independent 
*/

.role-icon-scheme-tall .role-Mafia-Fool {
  background-image: url("/images/roles/fool-tall.png");
}

.role-icon-scheme-vivid .role-Mafia-Fool {
  background-image: url("/images/roles/fool-vivid.png");
}

.role-icon-scheme-retro .role-Mafia-Fool {
  background-image: url("/images/roles/fool-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Executioner {
  background-image: url("/images/roles/executioner-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Executioner {
  background-image: url("/images/roles/executioner-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Serial-Killer {
  background-image: url("/images/roles/serial-killer-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Serial-Killer {
  background-image: url("/images/roles/serial-killer-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Amnesiac {
  background-image: url("/images/roles/amnesiac-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Amnesiac {
  background-image: url("/images/roles/amnesiac-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Survivor {
  background-image: url("/images/roles/survivor-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Survivor {
  background-image: url("/images/roles/survivor-retro.png");
}
.role-icon-scheme-tall .role-Mafia-Alien {
  background-image: url("/images/roles/alien-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Alien {
  background-image: url("/images/roles/alien-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Old-Maid {
  background-image: url("/images/roles/old-maid-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Old-Maid {
  background-image: url("/images/roles/old-maid-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Traitor {
  background-image: url("/images/roles/traitor-tall.png");
}
.role-icon-scheme-retro .role-Mafia-Traitor {
  background-image: url("/images/roles/traitor-retro.png");
}
.role-icon-scheme-tall .role-Mafia-Mastermind {
  background-image: url("/images/roles/mastermind-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Mastermind {
  background-image: url("/images/roles/mastermind-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Autocrat {
  background-image: url("/images/roles/autocrat-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Autocrat {
  background-image: url("/images/roles/autocrat-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Lover {
  background-image: url("/images/roles/lover-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Lover {
  background-image: url("/images/roles/lover-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Mistletoe {
  background-image: url("/images/roles/mistletoe-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Mistletoe {
  background-image: url("/images/roles/mistletoe-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Turkey {
  background-image: url("/images/roles/turkey-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Turkey {
  background-image: url("/images/roles/turkey-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Prophet {
  background-image: url("/images/roles/prophet-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Prophet {
  background-image: url("/images/roles/prophet-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Vengeful-Spirit {
  background-image: url("/images/roles/vengeful-spirit-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Vengeful-Spirit {
  background-image: url("/images/roles/vengeful-spirit-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Clockmaker {
  background-image: url("/images/roles/clockmaker-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Clockmaker {
  background-image: url("/images/roles/clockmaker-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Phantom {
  background-image: url("/images/roles/phantom-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Phantom {
  background-image: url("/images/roles/phantom-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Nomad {
  background-image: url("/images/roles/nomad-retro.png");
}

.role-icon-scheme-vivid .role-Mafia-Anarchist {
  background-image: url("/images/roles/anarchist-vivid.png");
}

.role-icon-scheme-retro .role-Mafia-Anarchist {
  background-image: url("/images/roles/anarchist-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Creepy-Girl {
  background-image: url("/images/roles/creepy-girl-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Host {
  background-image: url("/images/roles/host-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Usurper {
  background-image: url("/images/roles/usurper-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Siren {
  background-image: url("/images/roles/siren-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Siren {
  background-image: url("/images/roles/siren-retro.png");
}

.role-icon-scheme-tall .role-Mafia-Gambler {
  background-image: url("/images/roles/gambler-tall.png");
}

.role-icon-scheme-retro .role-Mafia-Gambler {
  background-image: url("/images/roles/gambler-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Warlock {
  background-image: url("/images/roles/warlock-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Cupid {
  background-image: url("/images/roles/cupid-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Host {
  background-image: url("/images/roles/host-retro.png");
}

.role-icon-scheme-retro .role-Mafia-Gingerbread-Man {
  background-image: url("/images/roles/gingerbread-man-retro.png");
}

/* 
* Modifiers
*/

.modifier-Mafia-Armored {
  background-position: -96px -16px;
}

.modifier-Mafia-Explosive {
  background-position: -16px 0;
}

.modifier-Mafia-Armed {
  background-position: -32px 0;
}

.modifier-Mafia-Exposed {
  background-position: -48px 0;
}

.modifier-Mafia-Chameleon {
  background-position: -64px 0;
}

.modifier-Mafia-Humble {
  background-position: -80px 0;
}

.modifier-Mafia-Lone {
  background-position: -96px 0;
}

.modifier-Mafia-Solitary {
  background-position: -96px 0;
}

.modifier-Mafia-Delayed {
  background-position: -112px 0;
}

.modifier-Mafia-Even {
  background-position: -128px 0;
}

.modifier-Mafia-Odd {
  background-position: -144px 0;
}

.modifier-Mafia-One-Shot {
  background-position: 0 -16px;
}

.modifier-Mafia-Bloodthirsty {
  background-position: -16px -16px;
}

.modifier-Mafia-Loud {
  background-position: -32px -16px;
}

.modifier-Mafia-Scatterbrained {
  background-position: -48px -16px;
}

.modifier-Mafia-Astral {
  background-position: -64px -16px;
}

.modifier-Mafia-Unblockable {
  background-position: -80px -16px;
}

.modifier-Mafia-Frustrated {
  background-position: -112px -16px;
}

.modifier-Mafia-Unwavering {
  background-position: -128px -16px;
}

.modifier-Mafia-Lynchpin {
  background-position: -144px -16px;
}

.modifier-Mafia-Traitorous {
  background-position: -0 -32px;
}

.modifier-Mafia-Friendly {
  background-position: -16px -32px;
}

/* for role prediction */
.modifier-Mafia-Unknown {
  background-position: -144px -32px;
}

/***********
*
* Split Decision
*
***********/

/*
* Blue
*/

.role-Split-Decision-Blue-Member {
  background-image: url("/images/roles/sd-blue-member-tall.png");
}

.role-Split-Decision-President {
  background-image: url("/images/roles/sd-president-tall.png");
}

/*
* Red
*/

.role-Split-Decision-Red-Member {
  background-image: url("/images/roles/sd-red-member-tall.png");
}

.role-Split-Decision-Bomber {
  background-image: url("/images/roles/sd-bomber-tall.png");
}

/*
* Independent
*/

.role-Split-Decision-Gambler {
  background-image: url("/images/roles/sd-gambler-tall.png");
}

/* for role prediction */
.modifier-Split-Decision-Unknown {
  background-position: -144px -32px;
}

/***********
*
* Resistance
*
***********/

/*
* Resistance
*/

.role-Resistance-Rebel {
  background-image: url("/images/roles/rst-rebel-tall.png");
}

.role-Resistance-Merlin {
  background-image: url("/images/roles/rst-merlin-tall.png");
}

.role-Resistance-Percival {
  background-image: url("/images/roles/rst-percival-tall.png");
}

/*
* Spies
*/

.role-Resistance-Spy {
  background-image: url("/images/roles/rst-spy-tall.png");
}

.role-Resistance-Morgana {
  background-image: url("/images/roles/rst-morgana-tall.png");
}

.role-Resistance-Oberon {
  background-image: url("/images/roles/rst-oberon-tall.png");
}

/* for role prediction */
.modifier-Resistance-Unknown {
  background-position: -144px -32px;
}

/***********
*
* One Night
*
***********/

/*
* Village
*/

.role-One-Night-Villager {
  background-image: url("/images/roles/on-villager-tall.png");
}

.role-One-Night-Hunter {
  background-image: url("/images/roles/on-hunter-tall.png");
}

.role-One-Night-Mason {
  background-image: url("/images/roles/on-mason-tall.png");
}

.role-One-Night-Seer {
  background-image: url("/images/roles/on-seer-tall.png");
}

.role-One-Night-Robber {
  background-image: url("/images/roles/on-robber-tall.png");
}

.role-One-Night-Troublemaker {
  background-image: url("/images/roles/on-troublemaker-tall.png");
}

.role-One-Night-Insomniac {
  background-image: url("/images/roles/on-insomniac-tall.png");
}

/*
* Werewolves
*/

.role-One-Night-Werewolf {
  background-image: url("/images/roles/on-werewolf-tall.png");
}

.role-One-Night-Minion {
  background-image: url("/images/roles/on-minion-tall.png");
}

/*
* Independent
*/

.role-One-Night-Tanner {
  background-image: url("/images/roles/on-tanner-tall.png");
}

.role-One-Night-Drunk {
  background-image: url("/images/roles/on-drunk-tall.png");
}

.role-One-Night-Doppelganger {
  background-image: url("/images/roles/on-doppelganger-tall.png");
}

/* for role prediction */
.modifier-One-Night-Unknown {
  background-position: -144px -32px;
}

/***********
*
* Ghost
*
***********/

/*
* Town
*/

.role-Ghost-Villager {
  background-image: url("/images/roles/villager-tall.png");
}

.role-icon-scheme-retro .role-Ghost-Villager {
  background-image: url("/images/roles/villager-retro.png");
}

.role-Ghost-Fool {
  background-image: url("/images/roles/fool-tall.png");
}

.role-icon-scheme-vivid .role-Ghost-Fool {
  background-image: url("/images/roles/fool-vivid.png");
}

.role-icon-scheme-retro .role-Ghost-Fool {
  background-image: url("/images/roles/fool-retro.png");
}

/*
* Ghost
*/

.role-Ghost-Ghost {
  background-image: url("/images/roles/gh-ghost-tall.png");
}

/*
* Host
*/

.role-Ghost-Host {
  background-image: url("/images/roles/host-tall.png");
}

/* for role prediction */
.modifier-Ghost-Unknown {
  background-position: -144px -32px;
}
