.settings {
  display: flex;
  flex-flow: column;
}

.settings .logout,
.settings .delete-account {
  margin-bottom: 10px;
}

.settings .delete-account {
  color: black;
  background-color: #cf6679;
}

.settings .delete-account:hover {
  background-color: #c56173;
}

.settings .field-wrapper.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
