.setup {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  overflow: visible;
}

.setup .setup-name {
  display: -webkit-box;

  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  line-height: 1em;
  margin-bottom: 4px; /* add a teensy bit of margin since modifiers clip up into the name */
}

.popover .setup,
.roleList {
  flex-flow: row wrap;
}

.setup .fa-question {
  max-height: 1.9375rem;
  font-size: 1.9375rem !important;
  margin-right: 5px;
  text-shadow: 0 0.04rem 0rem black;
}

.i-Village,
.i-Blue,
.i-Resistance {
  color: #66adff !important;
}

.i-Mafia,
.i-Spies {
  color: #505d66 !important;
}

.i-Cult,
.i-Werewolves {
  color: #b161d3 !important;
}

.i-Independent {
  color: #c7ce48 !important;
}

.i-Red {
  color: #ce4848 !important;
}

.small-role-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);

  padding: 5px 0px;
}

.small-role-list:first-child {
  border-top: none;
}

.small-role-list .role-count-wrap {
  margin-right: 5px;
}

.game-icon {
  flex-shrink: 0;

  width: 1.875rem;
  height: 1.875rem;

  background-size: 100%;
}

.game-icon.Mafia {
  background-image: url("/src/images/game_icons/Mafia.png");
}

.game-icon.Resistance {
  background-image: url("/src/images/game_icons/Resistance.png");
}

.game-icon.Jotto {
  background-image: url("/src/images/game_icons/Jotto.png");
}

.game-icon.Secret-Dictator {
  background-image: url("/src/images/game_icons/SecretDictator.png");
}

.game-icon.Acrotopia {
  background-image: url("/src/images/game_icons/Acrotopia.png");
}

.game-icon.Wacky-Words {
  background-image: url("/src/images/game_icons/WackyWords.png");
}

.game-icon.Liars-Dice {
  background-image: url("/src/images/game_icons/LiarsDice.png");
}

.game-icon.Texas-Hold-Em {
  background-image: url("/src/images/game_icons/TexasHoldEm.png");
}

.game-icon.Cheat {
  background-image: url("/src/images/game_icons/Cheat.png");
}

.game-icon.Ratscrew {
  background-image: url("/src/images/game_icons/Cheat.png");
}

.game-icon.Battlesnakes {
  background-image: url("/src/images/game_icons/Battlesnakes.png");
}

.game-icon.Connect-Four {
  background-image: url("/src/images/game_icons/ConnectFour.png");
}

.game-icon.Dice-Wars {
  background-image: url("/src/images/game_icons/DiceWars.png");
}
