.setup-page .box-panel {
  border-radius: 4px;
}

.setup-page .heading {
  font-weight: bold;
  font-size: 20px;
}

.setup-page .super {
  color: var(--theme-color-light);
}

.setup-page .changelog {
  white-space: pre-wrap;

  padding: 8px;
  max-height: 540px;

  overflow-y: auto;
  background-color: #121212;
}

.setup-page .changelog .color-added {
  color: green;
}

.setup-page .changelog .color-removed {
  color: red;
}

.setup-page .changelog .color-skipped {
  color: var(--theme-color-text);
  background-color: var(--theme-color);
}

.setup-page .changelog .color-unchanged {
  color: var(--theme-color-text);
}
