:root {
  --online-status-icon-size: 16px;
}

.avatar {
  flex-shrink: 0;

  box-sizing: border-box;

  width: 40px;
  height: 40px;

  background-image: url("/src/images/avatar.webp");
  background-size: 100%;
  background-color: var(--scheme-color);
}

/*SANTA CHANGES: In December, uncomment the below lines*/
/* a.name-with-avatar.no-link > .avatar.small {
  margin-left: 5px;
  margin-top: 7px;
} */
/*SANTA CHANGES*/

/*SANTA CHANGES: In December, uncomment the below lines*/
/* .santa-wrapper {
  position: absolute;
} */
/*SANTA CHANGES*/

.avatar.dead {
  filter: grayscale(1) !important;
}

.avatar.inline {
  display: inline-flex;
  align-items: center;
  margin-right: 5px !important;
}

.video-responsive {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  min-height: 200px;
}

.video-responsive-generic {
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  width: 100%;
}

.video-responsive-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

iframe {
  border-width: 0px;
}

.avatar .edit {
  display: none;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  /*SANTA CHANGES: In December, comment the below lines*/
  width: 100%;
  height: 100%;
  /*SANTA CHANGES*/

  /*SANTA CHANGES: In December, uncomment the below lines*/
  /* width: inherit;
  height: inherit;
  position: fixed; */
  /*SANTA CHANGES*/

  border-radius: inherit;

  background-color: black;
  opacity: 0.45;
  cursor: pointer;
}

.avatar:hover .edit {
  display: flex;
}

.in-love {
  display: flex;
  align-items: center;

  color: var(--scheme-color-text);
  text-decoration: none;
  white-space: nowrap;
  padding-right: 10px;
}

.name-with-avatar {
  /*SANTA CHANGES: In December, uncomment the below line*/
  /* position: relative; */
  /*SANTA CHANGES*/
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  color: var(--scheme-color-text);
  text-decoration: none;
  white-space: nowrap;
}

.name-with-avatar:hover {
  opacity: 0.8;
}

.name-with-avatar.no-link:hover {
  opacity: 1 !important;
  cursor: default !important;
}

.name-with-avatar .avatar.active {
  box-shadow: 0px 0px 2px 3px #62a0db;
}

.status-icon {
  width: 8px;
  height: 8px;
  border-radius: 50px;
}

.status-icon.online {
  background-color: #59ad72;
}

.status-icon.ingame {
  background-color: var(--gold-heart-color);
}

.status-icon.offline {
  background-color: #525252;
}

.badge-list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.badge-list.small {
  font-size: 10px;
}

.badge {
  padding: 2px;

  border-radius: 50px;
  background-color: white;
  line-height: 0px;
}

.profile i {
  cursor: pointer;
}

.profile .banner {
  aspect-ratio: 3;
  height: auto;
}

.profile .banner .edit {
  display: none;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: black;
  opacity: 0.45;
  cursor: pointer;
}

.profile .banner:hover .edit {
  display: flex;
}

.user-name.dark {
  filter: brightness(70%);
}

.user-name.darker {
  filter: brightness(60%);
}
.user-name.darkest {
  filter: brightness(50%);
}

.user-name.bright {
  filter: brightness(130%);
}

.user-name.brighter {
  filter: brightness(145%);
}

.user-name.brightest {
  filter: brightness(160%);
}

.profile .score-info {
  display: inline-flex;
  flex-flow: row;
  gap: 8px;

  background-color: var(--theme-color-sec);
}

.profile .score-info .score-info-column {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

.profile .score-info .score-info-row {
  display: flex;
  flex-flow: row nowrap;

  font-weight: bold;
  font-size: 20px;

  width: 6em;
}

.profile .avi-name {
  font-size: 20px;
  word-break: break-all;
}

.profile .box-panel {
  border-radius: 4px;
  background-color: var(--scheme-color-sec);
}

.profile .box-panel:last-child {
  margin-bottom: 0px;
}

.profile .box-panel .content {
  padding: 4px;
  background-color: var(--scheme-color);
  color: var(--scheme-color-text);
}

.profile .box-panel .row {
  padding: 0px 0px 5px 0px;
}

.profile .box-panel .row:last-child {
  padding-bottom: 0px;
}

.profile .page-nav {
  color: white;
}

.profile .page-nav:first-child {
  margin-top: 0px;
}

.profile .page-nav:last-child {
  margin-bottom: 0px;
}

.profile .game-row .btn {
  width: auto;
  margin: 0px;
}

.profile .recent-games .setup {
  overflow-x: auto;
}

.profile .friend-request {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;

  margin-top: 10px;
}

.profile .friend-request:first-child {
  margin-top: 0px;
}

.profile .friend-request i {
  margin-left: 10px;

  cursor: pointer;
}

.profile .friend-request i:hover {
  opacity: 0.7;
}

.profile .friend-request .avatar {
  box-shadow: none;
}

.profile .friend .friend-avatar {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.profile .friend .friend-avatar .btns-wrapper {
  flex-flow: row;
  align-items: stretch;
  justify-content: flex-end;
}

.profile .friend .friend-avatar .btns-wrapper i {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.profile .friend .last-active {
  margin-left: 45px;

  opacity: 0.6;
}

.profile .friend .avatar {
  box-shadow: none;
}

.profile .bio {
  flex-grow: 1;

  display: flex;
  flex-flow: column;

  box-sizing: border-box;
  padding: 15px;

  background-color: var(--scheme-color);
  color: var(--scheme-color-text);
}

.profile .bio.edit {
  cursor: text;
}

.profile .bio.edit:hover {
  box-shadow: 0px 0px 5px #62a0db;
}

.profile .bio .buttons {
  display: flex;
  flex-flow: row nowrap;

  margin-top: 10px;
}

.profile .bio .btn {
  align-self: flex-start;

  margin-right: 10px;
}

.MuiPopover-root .miniprofile {
  margin-left: 0px;
  background-color: var(--scheme-color);
}

.miniprofile .pronouns {
  color: #777777;
  padding: 8px;
}

.miniprofile .pie-chart {
  padding: 8px;
}

.miniprofile .score-info {
  display: flex;
  flex-flow: row;
  gap: 8px;

  padding: 8px;

  border-top: 1px solid var(--scheme-color-border);
}

.miniprofile .score-info .score-info-column {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.miniprofile .score-info .score-info-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  font-weight: bold;
  font-size: 20px;
}

.miniprofile .score-info .score-info-smallicon {
  margin-right: 4px;
}

.profile .react-mde .grip {
  color: var(--scheme-color-text);
  background-color: var(--scheme-color-sec);
}

.profile .options i {
  max-width: 24px;
  font-size: 24px;
  cursor: pointer;
}

.profile .options i:hover {
  opacity: 0.7;
}

.profile .options i.sel {
  color: #62a0db;
}

.profile .options i.sel-love {
  color: crimson;
}

.profile .options i.sel-married {
  color: gold;
}

.profile .ratings {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;
}

.profile .ratings .content {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

.profile .ratings .rating {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;

  margin-right: 10px;
}

.profile .ratings .rating:last-child {
  margin-right: 0px;
}

.profile .ratings .rating .name {
  text-align: center;
}

.profile .ratings .rating .score {
  font-size: 25px;
  text-align: center;
}

.profile .ratings .expand-icon-wrapper {
  flex-grow: 1;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.profile .ratings .expand-icon-wrapper i {
  margin-left: 10px;

  font-size: 25px;
  cursor: pointer;
}

.profile .ratings .expand-icon-wrapper i:hover {
  opacity: 0.6;
}

.profile .stats-modal {
  width: 700px;
}

.profile .stats-modal .modal-header {
  font-weight: 700;
}

.profile .stats-modal .modal-content {
  max-height: 600px;
  overflow-y: scroll;
}

.profile .stats-modal .control {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

.profile .stats-modal .stats-wrapper {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;
}

.profile .stats-modal .filter {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

.profile .stats-modal .stats {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;
}

.profile .stats-modal .stats .stats-row {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;

  margin-top: 15px;
}

.profile .stats-modal .stats .stats-row-name {
  font-weight: 700;
}

.profile .stats-modal .stats .stats-row .stats-list {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
}

.profile .stats-modal .stats .stats-row .stats-list .stat {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;

  margin-right: 20px;
}

.profile .stats-modal .stats .stats-row .stats-list .stat-data {
  opacity: 0.6;
}

.profile .trophy-case .content {
  display: flex;
  flex-direction: column;
}

.profile .trophy-case .trophy-item {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.08);
}

.profile .trophy-case .trophy-icon {
  width: 30px;
  height: 30px;
  image-rendering: auto;
}
